USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_TRANS_VISA_ROL1100]    Script Date: 14/04/2025 17:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_PFYCC_GI_TRANS_VISA_ROL1100]
AS

-----------------------------------------------------------------------------
--ELIMINAR TABLA CREADA
-----------------------------------------------------------------------------
--DROP TABLE PFYCC_GI_TRANS_VISA_ROL1100

-----------------------------------------------------------------------------
--CREACION DE TABLA
-----------------------------------------------------------------------------
--CREATE TABLE PFYCC_GI_TRANS_VISA_ROL1100
--(ROLCaseNumber varchar(20)
--,FollowupDate varchar(10)
--,CaseStatus varchar(100)
--,DC varchar(10)
--,DaystoAct varchar(10)
--,TipoMoneda varchar(10)
--,Amount decimal(18,2)
--,CardAccountNumber varchar(20)
--,Token varchar(20)
--,MemberCaseStatus varchar(10)
--,ARN_1 varchar(30)
--,ARN_2 varchar(20)
--,Usuario varchar(100)
--,Fecha_LastAction date
--,BIDName varchar(100)
--,FraudCls varchar(10)
--,MCCCode varchar(10)
--,MOTOInd varchar(10)
--,MerchantName varchar(100)
--,NetworkID varchar(10)
--,JR varchar(10)
--,Ind varchar(10)
--,RegERegZExpDate varchar(10)
--)

-----------------------------------------------------------------------------
--ELIMINAR DATOS DE TABLA CREADA
-----------------------------------------------------------------------------

DROP TABLE dbo.PFYCC_GI_TRANS_VISA_ROL1100

-----------------------------------------------------------------------------
--EJECUTAR CONSULTA DE CARGA
-----------------------------------------------------------------------------

--INSERT INTO dbo.PFYCC_GI_TRANS_VISA_ROL1100

SELECT ROLCaseNumber
	,FollowupDate
	,CaseStatus
	,DC
	,DaystoAct
	,TipoMoneda = Case When RIGHT(Amount,3) = 'PEN' Then 'Soles'
					   When RIGHT(Amount,3) = 'USD' Then 'Dolares' End
	,Amount = Case When RIGHT(Amount,3) = 'PEN' Then CAST(REPLACE(Amount,' PEN','') AS numeric(18,2))
					   When RIGHT(Amount,3) = 'USD' Then CAST(REPLACE(Amount,' USD','') AS numeric(18,2)) END--'Dolares' End --CONVERT(decimal(18,2),REPLACE(REPLACE(Amount,'PEN',''),'USD',''))
	,CardAccountNumber = REPLACE(CardAccountNumber,'-','')
	,Token
	,MemberCaseStatus
	,ARN_1 = LEFT(ARN,23)
	,ARN_2 = RIGHT(ARN,12)
	,Usuario
	,Fecha_LastAction = CAST(LastAction as date)
	,BIDName
	,FraudCls
	,MCCCode
	,MOTOInd
	,MerchantName
	,NetworkID = NetworkID
	,JR
	,Ind
	,RegERegZExpDate
INTO dbo.PFYCC_GI_TRANS_VISA_ROL1100
FROM dbo.PFYCC_GI_CARGA_VISA_ROL1100_Jul21