USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_RT_GD_EJECUCION_ASIGNACIONES_RPA]    Script Date: 31/10/2025 17:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_RT_GD_EJECUCION_ASIGNACIONES_RPA]
AS


--EJECUCION DE SP PARA PONER ALEATORIO EL ID DE ASIGNACION
EXEC SP_RT_GD_TRANS_COLABORADORES_CC_CONECTADOS 'MCPERU\MC1499', 'L1', 0

--ELIMINAR LAS TABLA CREADA
DROP TABLE dbo.[RT_GD_TRANS_ASIGNACIONES_RPA];
DROP TABLE dbo.[PFYCC_GI_REPORTE_DETALLE_PRIMERA_LINEA_CC];
DROP TABLE dbo.[PFYCC_GI_REPORTE_DETALLE_TERCERA_LINEA_CC];
DROP TABLE dbo.[PFYCC_GI_REPORTE_REQUERIMIENTO_CRM_RPA];
DROP TABLE dbo.[PFYCC_GI_REPORTE_CARTAS_CC];
DROP TABLE dbo.[PFYCC_GI_REPORTE_CARTAS_CC_X_COMERCIO];
-----------------------------------------------------------------------------------------
BEGIN
	DECLARE @fech_ini DATE
	DECLARE @fech_fin DATE
	DECLARE @Total_Autorizaciones_L1 INT
	DECLARE	@Total_Errores_L1 INT
	DECLARE @Total_Fraude_L1 INT
	DECLARE @Total_Servicios_L1 INT
	DECLARE @Num_Analistas_L1 INT
	DECLARE @Asignacion_Autorizaciones_L1 INT
	DECLARE @Asignacion_Errores_L1 INT
	DECLARE @Asignacion_Fraude_L1 INT
	DECLARE @Asignacion_Servicios_L1 INT

	DECLARE @Total_Autorizaciones_L3 INT
	DECLARE	@Total_Errores_LateP_L3 INT
	DECLARE	@Total_Errores_L3 INT
	DECLARE @Total_Fraude_PQ_L3 INT
	DECLARE @Total_Fraude_L3 INT
	DECLARE @Total_Servicios_L3 INT
	DECLARE @Num_Analistas_L3 INT
	DECLARE @Asignacion_Autorizaciones_L3 INT
	DECLARE @Asignacion_Errores_LateP_L3 INT
	DECLARE @Asignacion_Errores_L3 INT
	DECLARE @Asignacion_Fraude_PQ_L3 INT
	DECLARE @Asignacion_Fraude_L3 INT
	DECLARE @Asignacion_Servicios_L3 INT

			
SET NOCOUNT ON

-- Obtener el número total de registros por categoría
SET @fech_ini = CASE WHEN DATEPART(DW,GETDATE()) = 2 THEN DATEADD(DAY,-3,CAST(GETDATE() AS DATE)) --'2024-05-01' Feriado
					 WHEN DATEPART(DW,GETDATE()) = 3 THEN DATEADD(DAY,-3,CAST(GETDATE() AS DATE))
					 ELSE DATEADD(DAY,-1,CAST(GETDATE() AS DATE)) END
SET @fech_fin = CASE WHEN DATEPART(DW,GETDATE()) = 2 THEN DATEADD(DAY,-3,CAST(GETDATE() AS DATE)) --'2024-05-02' Feriado
					 ELSE DATEADD(DAY,-1,CAST(GETDATE() AS DATE)) END;

SELECT @Num_Analistas_L1        = (SELECT SUM(Flag_Activo) FROM dbo.RT_GD_TRANS_COLABORADORES_CC_CONECTADOS WHERE Tipo_Linea = 'L1')
SELECT @Total_Autorizaciones_L1 = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Autorización'                                   AND Tipo_Linea = 'L1'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND Atencion_GD <> 'SI'
SELECT @Total_Errores_L1        = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Errores de procesamiento'						AND Tipo_Linea = 'L1'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND Atencion_GD <> 'SI'
SELECT @Total_Fraude_L1         = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Fraude'											AND Tipo_Linea = 'L1'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND Atencion_GD <> 'SI'
SELECT @Total_Servicios_L1      = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Servicios/Mercadería - Disputas del consumidor' AND Tipo_Linea = 'L1'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND Atencion_GD <> 'SI'

SELECT @Num_Analistas_L3        = (SELECT SUM(Flag_Activo) FROM dbo.RT_GD_TRANS_COLABORADORES_CC_CONECTADOS WHERE Tipo_Linea = 'L3')
SELECT @Total_Autorizaciones_L3 = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Autorización'                                   AND Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND RUC <>'20523621212' AND Fun <> 'RDR'
SELECT @Total_Errores_LateP_L3  = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Errores de procesamiento' AND Razon = '12.1'    AND Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND RUC <>'20523621212' AND Fun <> 'RDR'
SELECT @Total_Errores_L3        = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Errores de procesamiento'                       AND Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND RUC <>'20523621212' AND Fun <> 'RDR'
SELECT @Total_Fraude_PQ_L3      = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Fraude' AND Entrymode = 'PQ'                    AND Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND RUC <>'20523621212' AND Fun <> 'RDR'
SELECT @Total_Fraude_L3         = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Fraude'                                         AND Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND RUC <>'20523621212' AND Fun <> 'RDR'
SELECT @Total_Servicios_L3      = COUNT(*) FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA WHERE CategoriaCC = 'Servicios/Mercadería - Disputas del consumidor' AND Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND RUC <>'20523621212' AND Fun <> 'RDR'

--PRINT @Total_Fraude_L1 
	
-- Calcular el número de registros para asignar a cada analista
SET @Asignacion_Servicios_L1      = @Total_Servicios_L1                                                         / @Num_Analistas_L1
SET @Asignacion_Fraude_L1         = (@Total_Fraude_L1              + (@Total_Servicios_L1 % @Num_Analistas_L1))	/ @Num_Analistas_L1
SET @Asignacion_Errores_L1        = (@Total_Errores_L1             + (@Total_Fraude_L1    % @Num_Analistas_L1))	/ @Num_Analistas_L1
SET @Asignacion_Autorizaciones_L1 = (@Asignacion_Autorizaciones_L1 + (@Total_Errores_L1   % @Num_Analistas_L1)) / @Num_Analistas_L1    

SET @Asignacion_Servicios_L3      = @Total_Servicios_L3                                                             / @Num_Analistas_L3
SET @Asignacion_Fraude_PQ_L3      = (@Total_Fraude_PQ_L3           + (@Total_Servicios_L3     % @Num_Analistas_L3))	/ @Num_Analistas_L3
SET @Asignacion_Fraude_L3         = (@Total_Fraude_L3              + (@Total_Fraude_PQ_L3     % @Num_Analistas_L3))	/ @Num_Analistas_L3
SET @Asignacion_Errores_LateP_L3  = (@Total_Errores_LateP_L3       + (@Total_Fraude_L3        % @Num_Analistas_L3))	/ @Num_Analistas_L3
SET @Asignacion_Errores_L3        = (@Total_Errores_L3             + (@Total_Errores_LateP_L3 % @Num_Analistas_L3))	/ @Num_Analistas_L3
SET @Asignacion_Autorizaciones_L3 = (@Asignacion_Autorizaciones_L3 + (@Total_Errores_L3       % @Num_Analistas_L3)) / @Num_Analistas_L3;

-- Asignar casos a analistas en función de la categoría y los montos de las asignaciones
--INSERT INTO TB_Calculada

WITH

PRIMERA_LINEA_MASIVO AS (
SELECT CodComercio
	,Tarjeta_Encriptada = CASE WHEN LEFT(NomComercio,13) = 'ECM*AMZ VIDEO' THEN '************' + RIGHT(Tarjeta,4) ELSE LEFT(Tarjeta,6) + '******' + RIGHT(Tarjeta,4) END
	,NomComercio
	,MonedaTrx
	,ImporteTrx = CONVERT(VARCHAR,CAST(ImporteTrx AS MONEY),1)
	,FechaTrx
	,CodAutorizacion
	,MotivoCC
	,Voucher
	,Referencia
	,ID_Transacción
	,FechaDev
	,RazonSocial
	,NroControl_ROLCase
	,Tarjeta
	,MonedaCC
	,ImporteCC
	,ARD_ARN
	,FechaCC
	,Ecom
	,Contracargo
	,Orden
	,Terminal
	,Reten_Dev
	,Entrymode
	,Responsable_CRM
	,Tipo_Linea
	,Asignacion = CASE WHEN CategoriaCC = 'Servicios/Mercadería - Disputas del consumidor' THEN  ROW_NUMBER() OVER (PARTITION BY CategoriaCC ORDER BY (SELECT NULL))                                                                               % @Num_Analistas_L1 + 1 
					  WHEN CategoriaCC = 'Fraude'                                          THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L1                                                  ) % @Num_Analistas_L1 + 1
					  WHEN CategoriaCC = 'Errores de procesamiento'                        THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L1 + @Asignacion_Fraude_L1                          ) % @Num_Analistas_L1 + 1 
					  WHEN CategoriaCC = 'Autorización'                                    THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L1 + @Asignacion_Fraude_L1 + @Asignacion_Errores_L1 ) % @Num_Analistas_L1 + 1
					  END

FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA A
WHERE  Tipo_Linea = 'L1'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND Atencion_GD <> 'SI'
--ORDER BY RUC ASC
)

,TERCERA_LINEA_MASIVO AS (
SELECT CodComercio
	,Tarjeta_Encriptada = CASE WHEN LEFT(NomComercio,13) = 'ECM*AMZ VIDEO' THEN '************' + RIGHT(Tarjeta,4) ELSE LEFT(Tarjeta,6) + '******' + RIGHT(Tarjeta,4) END
	,NomComercio
	,MonedaTrx
	,ImporteTrx = CONVERT(VARCHAR,CAST(ImporteTrx AS MONEY),1)
	,FechaTrx
	,CodAutorizacion
	,MotivoCC
	,Voucher
	,Referencia
	,ID_Transacción
	,FechaDev
	,RazonSocial
	,NroControl_ROLCase
	,Tarjeta
	,MonedaCC
	,ImporteCC
	,ARD_ARN
	,FechaCC
	,Ecom
	,Contracargo
	,Orden
	,Terminal
	,Reten_Dev
	,Entrymode
	,Responsable_CRM
	,Tipo_Linea
	,Asignacion = CASE WHEN CategoriaCC = 'Servicios/Mercadería - Disputas del consumidor' THEN  ROW_NUMBER() OVER (PARTITION BY CategoriaCC            ORDER BY (SELECT NULL))                                                                                                                                         % @Num_Analistas_L3 + 1 
					   WHEN CategoriaCC = 'Fraude' AND Entrymode = 'PQ'                    THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC ,Entrymode ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L3                                                                                                            ) % @Num_Analistas_L3 + 1
					   WHEN CategoriaCC = 'Fraude'                                         THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC            ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L3 + @Asignacion_Fraude_PQ_L3                                                                                 ) % @Num_Analistas_L3 + 1
					   WHEN CategoriaCC = 'Errores de procesamiento' AND Razon = '12.1'    THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC ,Razon     ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L3 + @Asignacion_Fraude_PQ_L3 + @Asignacion_Fraude_L3                                                         ) % @Num_Analistas_L3 + 1 
					   WHEN CategoriaCC = 'Errores de procesamiento'					   THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC            ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L3 + @Asignacion_Fraude_PQ_L3 + @Asignacion_Fraude_L3 + @Asignacion_Errores_LateP_L3                          ) % @Num_Analistas_L3 + 1 
					   WHEN CategoriaCC = 'Autorización'								   THEN (ROW_NUMBER() OVER (PARTITION BY CategoriaCC            ORDER BY (SELECT NULL)) + @Asignacion_Servicios_L3 + @Asignacion_Fraude_PQ_L3 + @Asignacion_Fraude_L3 + @Asignacion_Errores_LateP_L3 + @Asignacion_Errores_L3 ) % @Num_Analistas_L3 + 1
					   END

FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA A
WHERE Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND RUC <>'20523621212' AND Fun <> 'RDR'
--ORDER BY RUC ASC
)

,TOTAL_LINEA_MASIVO AS (

SELECT *
FROM PRIMERA_LINEA_MASIVO 
UNION ALL
SELECT *
FROM TERCERA_LINEA_MASIVO
)

--SELECT * FROM TOTAL_LINEA_MASIVO

,ASIGNACION_MASIVA AS (
SELECT CodComercio
	,Tarjeta_Encriptada
	,NomComercio
	,MonedaTrx
	,ImporteTrx
	,FechaTrx
	,CodAutorizacion
	,MotivoCC
	,Voucher
	,Referencia
	,ID_Transacción
	,FechaDev
	,RazonSocial
	,NroControl_ROLCase
	,Tarjeta
	,MonedaCC
	,ImporteCC
	,ARD_ARN
	,FechaCC
	,Ecom
	,Contracargo
	,Orden
	,Terminal
	,Reten_Dev
	,Entrymode
	,Responsable_CRM = B.Codigo
	,A.Tipo_Linea
FROM TOTAL_LINEA_MASIVO A
LEFT JOIN dbo.RT_GD_TRANS_COLABORADORES_CC_CONECTADOS B ON A.Asignacion = B.Id
													AND A.Tipo_Linea = B.Tipo_Linea
)

,CONSOLIDADO_ASIGNACION_MASIVA AS (

SELECT *
FROM ASIGNACION_MASIVA

UNION ALL

SELECT CodComercio
	,Tarjeta_Encriptada = CASE WHEN LEFT(NomComercio,13) = 'ECM*AMZ VIDEO' THEN '************' + RIGHT(Tarjeta,4) ELSE LEFT(Tarjeta,6) + '******' + RIGHT(Tarjeta,4) END
	,NomComercio
	,MonedaTrx
	,ImporteTrx = CONVERT(VARCHAR,CAST(ImporteTrx AS MONEY),1)
	,FechaTrx
	,CodAutorizacion
	,MotivoCC
	,Voucher
	,Referencia
	,ID_Transacción
	,FechaDev
	,RazonSocial
	,NroControl_ROLCase
	,Tarjeta
	,MonedaCC
	,ImporteCC
	,ARD_ARN
	,FechaCC
	,Ecom
	,Contracargo
	,Orden
	,Terminal
	,Reten_Dev
	,Entrymode
	,Responsable_CRM = 'MCPERU\MC1499'
	,Tipo_Linea
FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA 
WHERE  Tipo_Linea = 'L1'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND Atencion_GD = 'SI'

UNION ALL

SELECT CodComercio
	,Tarjeta_Encriptada = CASE WHEN LEFT(NomComercio,13) = 'ECM*AMZ VIDEO' THEN '************' + RIGHT(Tarjeta,4) ELSE LEFT(Tarjeta,6) + '******' + RIGHT(Tarjeta,4) END
	,NomComercio
	,MonedaTrx
	,ImporteTrx = CONVERT(VARCHAR,CAST(ImporteTrx AS MONEY),1)
	,FechaTrx
	,CodAutorizacion
	,MotivoCC
	,Voucher
	,Referencia
	,ID_Transacción
	,FechaDev
	,RazonSocial
	,NroControl_ROLCase
	,Tarjeta
	,MonedaCC
	,ImporteCC
	,ARD_ARN
	,FechaCC
	,Ecom
	,Contracargo
	,Orden
	,Terminal
	,Reten_Dev
	,Entrymode
	,Responsable_CRM = CASE WHEN RUC = '20523621212' THEN 'MCPERU\PR0024'
					   WHEN Fun = 'RDR' THEN 'MCPERU\PR0024' END
	,Tipo_Linea

FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA 
WHERE  Tipo_Linea = 'L3'  AND FechaCC BETWEEN @fech_ini AND @fech_fin AND (RUC = '20523621212' OR Fun = 'RDR')
)

--SELECT * FROM CONSOLIDADO_ASIGNACION_MASIVA
,MCESTAB_0 AS (
SELECT A.codigo
	,A.nomcom
	,A.nroruc
	,razsoc = a.razsoc
	,a.cta_esp 
	,a.segmento
	,a.giro
	,a.facili_pago
	,a.PGS
	,a.situac
	,mailcom = a.mailcom
	,EmailOpera = CASE WHEN a.codigo = '4074946' THEN 'GESTION.CONTROVERSIAS@PROMART.PE'
						ELSE a.EmailOpera END
	,a.mcc
	,a.mail_fact_elec
	,a.mailrleg
	,a.PRODUCTO
	,a.NOMBRE_PRODUCTO
	,Direccion = a.dire
	,a.dire
	,a.dpto
	,a.dist
FROM PFYCC_GI_TRANS_MCESTAB A
)
 
,RT_GD_TRANS_MCESTAB_RPA_CC AS (
SELECT DISTINCT Codigo
	,nomcom
	,nroruc
	,razsoc = REPLACE(razsoc,',',';')				
	,cta_esp = CASE WHEN cta_esp = 'N' THEN 'Negocios'				
				WHEN cta_esp = 'E' THEN 'Empresas'
				WHEN cta_esp = 'G' THEN 'Grandes empresas'
				WHEN cta_esp = 'C' THEN 'Corporacion' 
				WHEN cta_esp = '' AND segmento = 'Negocio' THEN 'Negocios' END
	,giro = concat(a.mcc,' - ',d.Descripcion)--REPLACE(giro,',',';')				
	,facili_pago
	,segmento
	,PGS = CASE WHEN PGS = 'Y' THEN 'SI' ELSE 'NO' END
	,Situacion = REPLACE(B.Descripcion, ',', ';')
	,mailcom
	,Contacto_Opera  = CASE WHEN A.codigo = '4074946' THEN 'GESTION.CONTROVERSIAS@PROMART.PE'
						WHEN A.nroruc in ('20101087647','20505897812','20545699126','20101869947','20545699550','20144215649') THEN 'creditosycobranzas@ngr.com.pe' -- nuevo contacto ngr para CC
						WHEN A.nroruc = '20334461875' THEN 'teresa.delalamo@teleticket.com.pe' -- CONTACTO PARA TLK
						WHEN A.nroruc = '20101951872' THEN 'isabel.salazar@bata.com;luis.collantes@bata.com;katherine.carlos@bata.com' -- CONTACTO NUEVO PARA BATA
						WHEN A.nroruc = '20609101416' THEN 'antifraude@efe-lc.com.pe;mruizco@juntoz.com;jbellido@juntoz.com' -- CONTACTO PARA CONECTA MARKET PLACE
						WHEN A.nroruc = '20601020719' THEN 'estefania.rojas@ehiglobal.pe' -- ANC
						--WHEN A.nroruc = '20100123330' THEN 'smontalvo@franquiciasperu.com;caguila@FRANQUICIASPERU.COM;mcornejo@FRANQUICIASPERU.COM' -- DELOSI
						WHEN A.nroruc = '20608280333' THEN 'controversias.spsa@spsa.pe;FELIX.CARTAGENA@SPSA.PE;JUAN.BENITEZ@SPSA.PE;dte_20608280333@paperless.pe'
						WHEN A.nroruc = '20520929658' THEN 'carlos.ramirez@aunor.pe;daniel.vilcherres@aunor.pe;victor.tiradom@aunor.pe'
						WHEN A.nroruc = '20100176964' THEN 'ncaceres@clinicasanfelipe.com;marilu.gutierrez@sanna.pe;rafael.farina@sanna.pe' -- CORREGIDO CORREO INCOMPLETO
						WHEN A.nroruc = '20605977406' THEN 'recaudacion@wowperu.pe' -- UNICO CONTACTO OPERA ENCONTRADO
						WHEN A.nroruc = '20218245189' THEN 'RONNYDONNY100@GMAIL.COM;RONNYDONNYPERU@GMAIL.COM'
						WHEN A.nroruc = '20527599602' THEN 'WLEOREPRESENTACIONES@hotmail.com'
						WHEN A.nroruc = '20607773883' THEN 'Wilfredo@pagsmile.com ;Luis@pagsmile.com'
						WHEN A.nroruc = '20101039910' THEN 'contactos@oncosalud.pe;tsaldivar@auna.pe;VSALAS@AUNA.PE'
						WHEN A.nroruc = '20510931514' THEN 'tesoreria.lima@aranwahotels.com;msaldana@aranwahotels.com;cobranzas.tesoreria@aranwahotels.com'
						WHEN A.nroruc IN ('20553617627','20605391738','20137254205') THEN 'wcontreras@inlearning.pe;klam@inlearning.pe;caliaga@inlearning.pe' -- ZEGEL IPAE / IDAT
						WHEN A.nroruc = '20552536259' THEN 'tesoreria@mesa247.pe'
						WHEN A.nroruc = '20602386024' THEN 'GMEDINA.SOTELO@GMAIL.COM;GIANNIALVARADO27@GMAIL.COM'
						WHEN C.RUC IS NOT NULL THEN C.Correo_Masivo_CC
						--WHEN E.Cod IS NOT NULL THEN E.ContactoOpera -- CORRECCION TEMPORAL CORREOS INCOMPLETOS
						WHEN LEN(EmailOpera)>8 THEN EmailOpera
						WHEN LEN(mail_fact_elec)>8 THEN mail_fact_elec
						WHEN LEN(mailrleg)>8 THEN mailrleg 
						--WHEN LEN(EmailOpera)>8 AND LEN(mail_fact_elec)>8 AND LEN(mailrleg)>8 THEN CONCAT(EmailOpera,';',mail_fact_elec,';',mailrleg)
						--WHEN LEN(EmailOpera)>8 AND LEN(mail_fact_elec)>8 THEN CONCAT(EmailOpera,';',mail_fact_elec)
						--WHEN LEN(EmailOpera)>8 AND LEN(mailrleg)>8 THEN CONCAT(EmailOpera,';',mailrleg)
						--WHEN LEN(mail_fact_elec)>8 AND LEN(mailrleg)>8 THEN CONCAT(mail_fact_elec,';',mailrleg)
						ELSE 'NULL' END
	,MCESTAB_RPA = CASE WHEN A.facili_pago IN ('FP-VD+', 'NIUBIZ', 'INTEROPERABILIDAD') THEN 'NO'
						WHEN A.NOMBRE_PRODUCTO IN ('CAJERO CORRESPONSAL', 'Cajero Corresponsal', 'Interoperabilidad Visanet') THEN 'NO'
						ELSE 'SI' END
	,Direccion = CONCAT(dire,' ',dpto,' ',dist)
	--,orden_temp = ROW_NUMBER() over(partition by codigo order by codigo desc)
FROM MCESTAB_0 A with(nolock)--dbo.PFYCC_GI_TRANS_MCESTAB A WITH(NOLOCK)
LEFT JOIN dbo.PFYCC_GI_CARGA_MASTERCARD_DIM_SITUACION B ON A.situac = B.Sit
LEFT JOIN dbo.PFYCC_GI_CARGA_CORREO_MASIVO_CC C ON A.nroruc = C.RUC
LEFT JOIN dbo.PFYCC_GI_MONITOR_DIM_MCC D on a.mcc = d.MCC
)

,CORREO_COMERCIO_CON_LISTA_MANUAL AS (
SELECT codigo
	,mailcom
	,EmailOpera = Contacto_Opera
FROM dbo.RT_GD_TRANS_MCESTAB_RPA_CC --PFYCC_GI_TRANS_MCESTAB A
--LEFT JOIN PFYCC_GI_CARGA_CORREO_MASIVO_CC B ON A.nroruc = B.RUC
)

,LINEAS_CC_RPA AS (
SELECT A.CodComercio
	 ,Tarjeta_Encriptada
	 ,A.NomComercio
	 ,A.MonedaTrx
	 ,A.ImporteTrx
	 ,A.FechaTrx
	 ,A.CodAutorizacion
	 ,A.MotivoCC
	 ,A.Voucher
	 ,A.Referencia
	 ,A.ID_Transacción
	 ,A.FechaDev
	 ,A.RazonSocial
	 ,A.NroControl_ROLCase
	 ,A.Tarjeta
	 ,A.MonedaCC
	 ,A.ImporteCC
	 ,A.ARD_ARN
	 ,A.FechaCC
	 ,A.Ecom
	 ,A.Contracargo
	 ,A.Orden
	 ,A.Terminal
	 ,A.Reten_Dev
	 ,A.Entrymode
	 ,Contacto_Opera = B.EmailOpera
	 ,Contacto_Comercial = C.Tipo_Flujo
	 ,Responsable = A.Responsable_CRM
	 ,A.Tipo_Linea
FROM CONSOLIDADO_ASIGNACION_MASIVA A
LEFT JOIN CORREO_COMERCIO_CON_LISTA_MANUAL B ON A.CodComercio = B.codigo
LEFT JOIN dbo.PFYCC_GI_REPORTE_RPA_LINEA C ON A.ARD_ARN = C.ARD_ARN
									   AND A.NroControl_ROLCase = C.NroControl_ROLCase
									   AND A.Orden = C.Orden
)

SELECT *
INTO dbo.RT_GD_TRANS_ASIGNACIONES_RPA
FROM LINEAS_CC_RPA

SELECT * 
INTO dbo.PFYCC_GI_REPORTE_DETALLE_PRIMERA_LINEA_CC
FROM dbo.RT_GD_TRANS_ASIGNACIONES_RPA
WHERE Tipo_Linea = 'L1'

SELECT * 
INTO dbo.PFYCC_GI_REPORTE_DETALLE_TERCERA_LINEA_CC
FROM dbo.RT_GD_TRANS_ASIGNACIONES_RPA
WHERE Tipo_Linea = 'L3';

------------------------------------ PROCESO DE REQUERIMIENTO CRM SALESFORCE --------------------------------------------
WITH

DUPLICIDAD_ARN_CRM AS (
SELECT ARD_ARN
	,NroControl_ROLCase
	,Orden
	,Orden_CRM = ROW_NUMBER() OVER (PARTITION BY ARD_ARN ORDER BY ARD_ARN DESC)
FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA
)
,REQUERIMIENTOS_CRM_MC_VA_SALESFORCE AS (
SELECT [Código de Comercio] = '00' + A.CodComercio
	,[Dirección de punto de contacto] = ''
	,[Proceso] = 'Gestión de Contracargos'
	,Asunto = 'Contracargo Adquiriente'
	,[Título del Caso] = CASE WHEN A.Contracargo = 'CC Unico' THEN A.NroControl_ROLCase ELSE A.NroControl_ROLCase + ' - ' + LEFT(A.Contracargo,4) + ' - ' + CAST(A.Orden AS VARCHAR(1)) + ' - ' + CAST(B.Orden_CRM AS VARCHAR(1)) END	
	,[Nivel de Atención] = 'Primer Nivel'
	,Origin = 'Carga Masiva'
	,[Tipo de caso] = 'Solicitud'
	,Prioridad = 'Medium'
	,Descripcion = 'Contracargo'
	,[Marca de tarjeta] = A.Marca
	,[Categoria de Controversia] = CASE WHEN A.Marca = 'Mastercard' THEN A.Razon ELSE LEFT (A.Razon,2) END
	,[Rol case/control] = A.NroControl_ROLCase
	,[Completar Automatico] = 'NO'
	,[Fecha de Controversia] = A.FechaCC
	,[Importe CC] = CONVERT(VARCHAR,CAST(A.ImporteCC AS MONEY),1)--A.ImporteCC
	,[Moneda CC] = A.MonedaCC
	,[Importe trx] =CONVERT(VARCHAR,CAST(A.ImporteTrx AS MONEY),1)--a.ImporteTrx
	,[Moneda trx] = A.MonedaTrx	
	,Tarjeta = CASE WHEN LEFT(A.NomComercio,13) = 'ECM*AMZ VIDEO' THEN '************' + RIGHT(A.Tarjeta,4) ELSE LEFT(A.Tarjeta,6) + '******' + RIGHT(A.Tarjeta,4) END	
	,[Tarjeta Completa] = A.Tarjeta
	,[Fecha trx(Venta)] = A.FechaTrx	
	,[Fecha de proceso(outgoing)] = A.FechaProcesoTrx
	,[Fecha de retención] = ISNULL(CONVERT(varchar(12), A.FechaRet ),'')
	,[Fecha de devolución] = ISNULL(CONVERT(varchar(12), A.FechaDev ),'')
	,[Ica Banco Emisor(MC)] = CASE WHEN A.Marca = 'Mastercard' THEN A.ICAIngresaCC ELSE A.Bin END
	,[Tipo trx] = A.Entrymode
	,[Autoriza]	= A.CodAutorizacion
	,[Banco Emisor] = A.Emisor
	,[Motivo de la controversia] = A.MotivoCC
	,[Categoría General] = A.CategoriaCC
	,[Voucher] = A.Voucher
	,Ecom = A.Ecom
	,[ID Transacción] = A.ID_Transacción
	,[Status Contracargos] = 'En Análisis'
	,[Motivo-Resultado Final] =  'En Análisis'
	,[Jurisdiccion-Solo Visa] = A.Tipo_Flujo + ' - ' + A.Jurisdiccion + ' - ' + A.Fun   
	,[ARN/ARD] = CASE WHEN A.Contracargo = 'CC Unico' THEN A.ARD_ARN ELSE A.ARD_ARN + ' - ' + LEFT(A.Contracargo,4) + ' - ' + CAST(A.Orden AS VARCHAR(1)) + ' - ' + CAST(B.Orden_CRM AS VARCHAR(1)) END	
	,[ARN/ARD Duplicidad] = ''
	,[Terminal]	= A.Terminal
	,[Referencia] = A.Referencia
	,[Comunicación al comercio] = '' -- CAMBIAR PARA HABILITAR NOTIFICACION MASIVA
	,[Tipo de Atención en campo] = ''
	,[Tipo] = ''
	,[Analista Contracargo] = C.Responsable
	,A.RUC
	,A.Fun
	,A.Tipo_Linea
	,A.Flag_correo
	,A.Atencion_TICA
	,A.Atencion_Importe
	,A.Atencion_GD
	,A.Orden
	,[Correo técnico del comercio] = CASE WHEN D.Contacto_Opera IS NULL THEN '' ELSE D.Contacto_Opera END
FROM dbo.PFYCC_GI_REPORTE_RPA_LINEA A
LEFT JOIN DUPLICIDAD_ARN_CRM B ON A.ARD_ARN = B.ARD_ARN
							   AND A.NroControl_ROLCase = B.NroControl_ROLCase
							   AND A.Orden = B.Orden
LEFT JOIN dbo.RT_GD_TRANS_ASIGNACIONES_RPA C ON A.ARD_ARN = C.ARD_ARN
						  AND A.NroControl_ROLCase = C.NroControl_ROLCase
						  AND A.Orden = C.Orden
LEFT JOIN dbo.RT_GD_TRANS_MCESTAB_RPA_CC  D ON A.CodComercio = D.Codigo
WHERE A.FechaCC BETWEEN @fech_ini AND @fech_fin
)

SELECT *
INTO dbo.PFYCC_GI_REPORTE_REQUERIMIENTO_CRM_RPA
FROM REQUERIMIENTOS_CRM_MC_VA_SALESFORCE;


------------------------------------ PROCESO DE CARTAS MASIVAS (EXCEPCION INTERCORP X COMERCIO)--------------------------------------------

SELECT A.CodComercio
	,A.Tarjeta_Encriptada
	,A.NomComercio
	,MonedaTrx = TRANSLATE(A.MonedaTrx, 'áéíóúÁÉÍÓÚ', 'aeiouAEIOU')
	,A.ImporteTrx
	,FechaTrx = CONVERT(VARCHAR,A.FechaTrx,103)
	,A.CodAutorizacion
	,MotivoCC = TRANSLATE(A.MotivoCC, 'áéíóúÁÉÍÓÚ', 'aeiouAEIOU')
	,A.Voucher
	,A.Referencia
	,A.ID_Transacción
	,A.FechaDev
	,A.RazonSocial
	,A.NroControl_ROLCase
	,A.Tarjeta
	,A.MonedaCC
	,A.ImporteCC
	,A.ARD_ARN
	,A.FechaCC
	,A.Ecom
	,A.Contracargo
	,A.Orden
	,A.Terminal
	,A.Reten_Dev
	,A.Entrymode
	,A.Contacto_Opera
	,A.Contacto_Comercial
	,A.Responsable
	,A.Tipo_Linea
	,Correo_Responsable = B.Correo
	,C.Flag_correo
	,C.RUC
	,Cod_Carta = '                         '
	,Observaciones = '                      '
	,Fecha_Envio = '                      '
INTO dbo.PFYCC_GI_REPORTE_CARTAS_CC
FROM  dbo.RT_GD_TRANS_ASIGNACIONES_RPA A
LEFT JOIN  dbo.RT_GD_CARGA_COLABORADORES_CC_CONECTADOS B ON A.Responsable = B.Codigo
LEFT JOIN  dbo.PFYCC_GI_REPORTE_RPA_LINEA C  ON A.ARD_ARN = C.ARD_ARN
                                         AND A.NroControl_ROLCase = C.NroControl_ROLCase
										 AND A.Orden = C.Orden
WHERE C.Flag_correo ='SI'
;
------------------------------------ PROCESO DE CARTAS MASIVAS INTERCORP X COMERCIO--------------------------------------------

WITH 
PRE_CONSOLIDADO_CARTAS AS (
	SELECT A.CodComercio
		,A.Tarjeta_Encriptada
		,A.NomComercio
		,MonedaTrx = TRANSLATE(A.MonedaTrx, 'áéíóúÁÉÍÓÚ', 'aeiouAEIOU')
		,A.ImporteTrx
		,FechaTrx = CONVERT(VARCHAR,A.FechaTrx,103)
		,A.CodAutorizacion
		,MotivoCC = TRANSLATE(A.MotivoCC, 'áéíóúÁÉÍÓÚ', 'aeiouAEIOU')
		,A.Voucher
		,A.Referencia
		,A.ID_Transacción
		,A.FechaDev
		,A.RazonSocial
		,A.NroControl_ROLCase
		,A.Tarjeta
		,A.MonedaCC
		,A.ImporteCC
		,A.ARD_ARN
		,A.FechaCC
		,A.Ecom
		,A.Contracargo
		,A.Orden
		,A.Terminal
		,A.Reten_Dev
		,A.Entrymode
		,A.Contacto_Opera
		,A.Contacto_Comercial
		,A.Responsable
		,A.Tipo_Linea
		,Correo_Responsable = B.Correo
		,C.Flag_correo
		,C.RUC
		,Cod_Carta = '                         '
		,Observaciones = '                      '
		,Fecha_Envio = '                      '
		,Flag_correo_x_Comercio = CASE WHEN C.FechaDev IS NOT NULL THEN 'NO'
								  WHEN C.CategoriaCC = 'Fraude' AND C.Entrymode LIKE '%CHIP%' THEN 'NO'
								  WHEN C.CategoriaCC = 'Fraude' AND C.Entrymode = 'PQ' THEN 'NO'
								  WHEN C.MotivoCC IN ('12.1 Processing Error - Late Presentment', 'Presentación tardía') THEN 'NO'
								  WHEN LEN(A.Contacto_Opera) <= 6 THEN 'NO' -- manda a notificar si no se tienen correos
								  WHEN CONCAT(LEFT(C.Marca,1),LEFT(C.CategoriaCC,1),LEFT(C.Ecom,3)) = 'MF211' THEN 'NO'
								  WHEN CONCAT(LEFT(C.Marca,1),LEFT(C.CategoriaCC,1),LEFT(C.Ecom,3)) = 'MF212' THEN 'NO'
								  WHEN CONCAT(LEFT(C.Marca,1),LEFT(C.CategoriaCC,1),LEFT(C.Ecom,1)) = 'VF5'   THEN 'NO'
								  WHEN CONCAT(LEFT(C.Marca,1),LEFT(C.CategoriaCC,1),LEFT(C.Ecom,1)) = 'VF6'   THEN 'NO'
								  ELSE 'SI' END
	FROM  dbo.RT_GD_TRANS_ASIGNACIONES_RPA A
	LEFT JOIN  dbo.RT_GD_CARGA_COLABORADORES_CC_CONECTADOS B ON A.Responsable = B.Codigo
	LEFT JOIN  dbo.PFYCC_GI_REPORTE_RPA_LINEA C  ON A.ARD_ARN = C.ARD_ARN
											 AND A.NroControl_ROLCase = C.NroControl_ROLCase
											 AND A.Orden = C.Orden
	WHERE C.RUC IN ('20100070970','20331066703','20394077101','20493020618','20506035121','20511315922','20512002090','20536557858','20556246743','20600414276','20601233488','20603150954','20607607061','20608300393','20608430301') --RUC Grupo Intercorp
	AND Flag_correo = 'NO'
)
SELECT CodComercio
	,Tarjeta_Encriptada
	,NomComercio
	,MonedaTrx
	,ImporteTrx
	,FechaTrx
	,CodAutorizacion
	,MotivoCC
	,Voucher
	,Referencia
	,ID_Transacción
	,FechaDev
	,RazonSocial
	,NroControl_ROLCase
	,Tarjeta
	,MonedaCC
	,ImporteCC
	,ARD_ARN
	,FechaCC
	,Ecom
	,Contracargo
	,Orden
	,Terminal
	,Reten_Dev
	,Entrymode
	,Contacto_Opera
	,Contacto_Comercial
	,Responsable
	,Tipo_Linea
	,Correo_Responsable
	,Flag_correo = Flag_correo_x_Comercio
	,RUC
	,Cod_Carta
	,Observaciones
	,Fecha_Envio
INTO dbo.PFYCC_GI_REPORTE_CARTAS_CC_X_COMERCIO
FROM PRE_CONSOLIDADO_CARTAS
WHERE Flag_correo_x_Comercio = 'SI'
;
END

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--EXEC [dbo].[SP_RT_GD_EJECUCION_ASIGNACIONES_RPA]