USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB]    Script Date: 29/10/2025 16:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB]
AS

-----------------------------------------------------------------------------
--ELIMINAR TABLA CREADA
-----------------------------------------------------------------------------
DROP TABLE dbo.PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB;

-----------------------------------------------------------------------------
--EJECUTAR CONSULTA DE CARGA
-----------------------------------------------------------------------------

WITH

NUEVA_CARGA_PRE_ARB AS (
SELECT Case_ID
	,Nro_Control = REPLACE(Chargeback_Reference_Number,'-','')
	,TipoPreArb = Case_Type
	,Razon = Chargeback_Reason_Code
	,TARJETA = REPLACE(Account_Number,'-','') 
	,ARD = REPLACE(Acquirer_Reference_Data,'-','')
	,ImportePreArb = CONVERT(DECIMAL(18,2),REPLACE(Disputed_Amount,',',''))
	,MonedaPreArb = CASE WHEN Currency_Code = 'USD' THEN 'Dólares americanos'
						 WHEN Currency_Code = 'PEN' THEN 'Soles' END
	,FechaPreArb = CAST(Submitted_Date AS DATE)
	,EstadoPreArb = [Status]
	,EstadoFinalPreArb = ''
FROM dbo.PFYCC_GI_CARGA_PRE_ARB_CLAIM
WHERE Fecha_Carga = CAST(GETDATE() AS DATE)
--AND REPLACE(Chargeback_Reference_Number,'-','') = '9165443375'
--AND REPLACE(Account_Number,'-','') = '5414670588890748'
--AND Acquirer_Reference_Data IN ('75301503132000959200207', '75301503132000959200215')
)
--TRUNCATE TABLE PFYCC_GI_CARGA_PRE_ARB_CLAIM

,HISTORICO_PRE_ARB AS (
SELECT DISTINCT A.Case_ID
	,A.Nro_Control
	,A.TipoPreArb
	,A.Razon
	,A.TARJETA
	,A.ARD
	,A.ImportePreArb
	,A.MonedaPreArb
	,A.FechaPreArb
	,EstadoPreArb = A.EstadoPreArb
	,A.EstadoFinalPreArb
FROM dbo.PFYCC_GI_CARGA_CLAIMS_CASEFEELING_PREARB_NEW A
LEFT JOIN NUEVA_CARGA_PRE_ARB B ON A.Case_ID = B.Case_ID
WHERE B.Case_ID IS NULL
--AND A.ARD = '75301502018001613200014'
)

--SELECT * FROM HISTORICO_PRE_ARB

--SELECT * INTO PFYCC_GI_CARGA_CLAIMS_CASEFEELING_PREARB_NEW
--FROM PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB

,UNIR_TABLA_HISTORICA_NUEVA AS (
SELECT *
FROM NUEVA_CARGA_PRE_ARB
UNION ALL
SELECT *
FROM HISTORICO_PRE_ARB
)

,PRE_CONSOLIDADO AS (
SELECT Case_Id
	,Nro_Control
	,TipoPreArb
	,Razon
	,TARJETA = CASE WHEN Case_Id = '22192682' AND TARJETA = '5122306638912405' AND ARD = '75301502356002376700018' AND Nro_Control = '9142482142' AND FechaPreArb = '2023-02-08' THEN '5176040114079190'
					WHEN Case_Id = '23039078' AND TARJETA = '5404450272523018' AND ARD = '75301503014009554800033' AND Nro_Control = '9149248748' AND FechaPreArb = '2023-03-10' THEN '5459744501423386'
					WHEN Case_Id = '26603240' AND TARJETA = '5297410649029537' AND ARD = '75301503132000959200223' AND Nro_Control = '9166048021' AND FechaPreArb = '2023-07-22' THEN '5414670588890748'
					WHEN Case_Id = '25788791' AND TARJETA = '5377671275449751' AND ARD = '75301503132000959200207' AND Nro_Control = '9166092408' AND FechaPreArb = '2023-06-22' THEN '5353760097913603'
					WHEN Case_Id = '25788777' AND TARJETA = '5377671275449751' AND ARD = '75301503132000959200215' AND Nro_Control = '9166092263' AND FechaPreArb = '2023-06-22' THEN '5353760097913603'
					ELSE TARJETA END
	,ARD
	,ImportePreArb
	,MonedaPreArb
	,FechaPreArb
	,EstadoPreArb
	,EstadoFinalPreArb 
FROM UNIR_TABLA_HISTORICA_NUEVA
WHERE Case_ID NOT IN ('24106399','24106356') -- SON 2 CASE ID QUE SON DE UN MISMO CC "ERROR EN REPORTERIA" (CONFIRMADO CON GIULLINA SU STATUS CORRECTO) AL 24-04-2023
)

,MSC_ACC_BY_ADQ AS (
SELECT DISTINCT ARD = LEFT(AcqRefData,23)
	--,Tarjeta = LEFT(Tarjeta,16)
FROM dbo.PFYCC_GI_CARGA_AS400_CONTRACARGOS_MASTERCARD
WHERE RIGHT(Razon,4) = '7800'
AND Fun = '700'
--AND LEFT(Tarjeta,16) = '5414670588890748'
--AND LEFT(AcqRefData,23) IN ('75301500198000759400012', '75301500170000282100099')

--HAY DOS CON # 2 AL 31-08-2023
--SELECT ARD = LEFT(AcqRefData,23)
--	,# = COUNT(*)
--FROM PFYCC_GI_CARGA_AS400_CONTRACARGOS_MASTERCARD
--WHERE RIGHT(Razon,4) = '7800'
--AND Fun = '700'
--GROUP BY LEFT(AcqRefData,23)
--ORDER BY 2 DESC

)

,CONSOLIDADO AS (
SELECT A.Case_Id
	,A.Nro_Control
	,TipoPreArb = CASE WHEN A.Case_Id IN   ('2131297','2411025','2428719','2554524','3957707','4316262','6752241','8187881','8409114','8670894','14271394','23606005','23606111','23693383','24922280', '24922210', '25497371') THEN 'Arbitration' ELSE A.TipoPreArb END
	,A.Razon
	,TARJETA = CASE WHEN A.Case_Id = '22192682' AND A.TARJETA = '5122306638912405' AND A.ARD = '75301502356002376700018' AND A.Nro_Control = '9142482142' AND A.FechaPreArb = '2023-02-08' THEN '5176040114079190'
					WHEN A.Case_Id = '23039078' AND A.TARJETA = '5404450272523018' AND A.ARD = '75301503014009554800033' AND A.Nro_Control = '9149248748' AND A.FechaPreArb = '2023-03-10' THEN '5459744501423386' ELSE A.TARJETA END
	,A.ARD
	,A.ImportePreArb
	,A.MonedaPreArb
	,A.FechaPreArb
	,EstadoPreArb = CASE WHEN A.Case_Id IN ('2131297','2411025','2428719','2554524','3957707','4316262','6752241','8187881','8409114','8670894','14271394','23606005','23606111','23693383','24922280', '24922210', '25497371') THEN 'Rejected'
						 WHEN A.EstadoPreArb = 'Accepted' AND B.ARD IS NULL THEN 'New'
						 WHEN B.ARD IS NOT NULL THEN 'Accepted' 
						 ELSE A.EstadoPreArb END
	,EstadoFinalPreArb = CASE WHEN A.Case_Id IN ('2131297','2428719','2554524','4316262','6752241','8187881','8409114','8670894','45333720') THEN 'Acc by adq' 
							  WHEN A.Case_Id IN ('2411025','3957707','14271394') THEN 'Acc by emisor'
							  WHEN A.Case_Id IN ('23606005','23606111','23693383','24922280', '24922210', '25497371','33092772','46113994'
												,'47408190','48182145','48182119','48182150','48578465','48578458','48578463','48578462') THEN 'En analisis'
							  ELSE 'VALIDAR' END
FROM PRE_CONSOLIDADO A
LEFT JOIN MSC_ACC_BY_ADQ B ON A.ARD = B.ARD
						   --AND A.TARJETA = B.Tarjeta
)

SELECT *
INTO dbo.PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB
FROM CONSOLIDADO;

DROP TABLE dbo.PFYCC_GI_CARGA_CLAIMS_CASEFEELING_PREARB_NEW

SELECT *
INTO dbo.PFYCC_GI_CARGA_CLAIMS_CASEFEELING_PREARB_NEW
FROM dbo.PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB

--EXEC SP_PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

--SELECT * FROM PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB
----WHERE TARJETA = '5168742244807628'
----WHERE Nro_Control IN ('9165443375', '9165443375')
--WHERE Case_ID IN ('25788791', '25788777')

--SELECT * FROM PFYCC_GI_REPORTE_CONTRACARGOS_VISA_MASTERCARD WHERE Tarjeta = '5447684262810923'

