USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_TRANS_VISA_ROL500_INCYOUT]    Script Date: 14/04/2025 16:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_PFYCC_GI_TRANS_VISA_ROL500_INCYOUT]
AS

-----------------------------------------------------------------------------
--ELIMINAR TABLA CREADA
-----------------------------------------------------------------------------
DROP TABLE dbo.PFYCC_GI_TRANS_VISA_ROL500_INCYOUT;

-----------------------------------------------------------------------------
--EJECUTAR CONSULTA DE CARGA
-----------------------------------------------------------------------------
WITH
TABLA_INICIO AS (
SELECT Network
	  ,ExceptionTransaction
	  ,SettleDate = CASE WHEN SettleDate = '02/17/23' AND A.[ROLCase ] = '5232358917' AND A.ARN = '7-435704-2308-00437940029-1' AND A.DisputeStatusDescription = 'Dispute Response' THEN '2023-02-21' ELSE CAST(SettleDate AS DATE) END
	  ,MemberCase = A.[MemberCase ]
	  ,ROLCase = A.[ROLCase ]
	  ,Card_AccountNumber = REPLACE(Card_AccountNumber,'-','')
	  ,Amount =  CAST((REPLACE(Amount,',','')) AS FLOAT)--CONVERT(DECIMAL(18,2),REPLACE(Amount,',',''))
	  ,CR_DR
	  ,TipoMoneda = CASE WHEN CurrCode = '604' THEN 'Soles'
						 WHEN CurrCode = 'Soles' THEN 'Soles'
						 WHEN CurrCode = 'DÃ³lares americanos' THEN 'Dólares americanos'
						 WHEN CurrCode = 'DÃƒÂ³lares americanos' THEN 'Dólares americanos'
	  					 WHEN CurrCode = '840' THEN 'Dólares americanos'
						 WHEN CurrCode = '978' THEN 'Dólares americanos'
						 WHEN CurrCode = '484' THEN 'Dólares americanos' 
						 WHEN CurrCode = '036' THEN 'Dólares americanos' END
	  ,RC
	  ,TranID
	  ,ARN = REPLACE(ARN,'-','') --CASE WHEN SettleDate = '04/16/23' AND A.[ROLCase ] = '5253265231' AND A.ARN = '7-435704-3102-95668184748-3' AND A.DisputeStatusDescription = 'Dispute Financial' THEN '74357043101001659847487' ELSE REPLACE(ARN,'-','') END
	  ,MerchantName
	  ,Usuario = [User]
	  ,TRN
	  ,Jurisdiction
	  ,ATMInd
	  ,Token = REPLACE(Token,'-','')
	  ,DisputeCategory
	  ,DisputeCategoryCondition
	  ,VROLFinancialID
	  ,VROLBundleCase = A.[VROLBundleCase ]
	  ,InterFeeAmount = CASE WHEN InterFeeAmount = '' THEN 0 ELSE CONVERT(DECIMAL(18,10),InterFeeAmount) END
	  ,InterFeeDR_CR 
	  ,InterFeeCurrency
	  ,DisputeStatus
	  ,DisputeStatusDescription = CASE WHEN RIGHT(DisputeStatusDescription,1) not in ('n','e','l') THEN LEFT(DisputeStatusDescription,LEN(DisputeStatusDescription)-1)
									   ELSE DisputeStatusDescription END
FROM dbo.PFYCC_GI_CARGA_VISA_ROL500_INCYOUT A
)

--SELECT *
--FROM PFYCC_GI_CARGA_VISA_ROL500_INCYOUT
--WHERE [ROLCase ] = '5253265231'

--SELECT DISTINCT CurrCode
--FROM PFYCC_GI_CARGA_VISA_ROL500_INCYOUT


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
,REPETIDOS_TARJ_ARN AS (
SELECT Card_AccountNumber
	,ARN
	,Cantidad = COUNT(1)
FROM TABLA_INICIO
WHERE ExceptionTransaction = 'Dispute Financial'
GROUP BY Card_AccountNumber
	,ARN
)

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT A.*
	,Contracargo = CASE WHEN ExceptionTransaction <> 'Dispute Financial' THEN ''
						WHEN B.Cantidad = 1 THEN 'CC Unico'
						ELSE CONCAT(B.Cantidad,' CC Repetidos') END
INTO dbo.PFYCC_GI_TRANS_VISA_ROL500_INCYOUT
FROM TABLA_INICIO A
	LEFT JOIN REPETIDOS_TARJ_ARN B ON A.Card_AccountNumber = B.Card_AccountNumber
								    AND A.ARN = B.ARN

--EXEC SP_PFYCC_GI_TRANS_VISA_ROL500_INCYOUT

--SELECT *
--FROM PFYCC_GI_TRANS_VISA_ROL500_INCYOUT
--WHERE ROLCase = '5253265231'

