
-----------------------------------------------------------------------------
--ELIMINAR TABLA CREADA
-----------------------------------------------------------------------------
DROP TABLE dbo.PFYCC_GI_TRANS_AS400_TRX;

-----------------------------------------------------------------------------
--EJECUTAR CONSULTA DE CARGA
-----------------------------------------------------------------------------

WITH
INICIO AS (
SELECT Tarjeta = CASE WHEN ARD_ARN87_034 like '%75301501106000214500058%' THEN RIGHT(Tarjeta,15) 
					  WHEN ARD_ARN87_034 like '%75301503295001734200135%' THEN '5113798789091735'	
					  WHEN ARD_ARN87_034 like '%75301505234000246500015%' THEN '518501603682'	
					  WHEN ARD_ARN87_034 like '%75301505234000247100013%' THEN '518501599681'	

					  ELSE RIGHT(Tarjeta,16) END
	,FechaTrx = CAST(Venta AS DATE)
	,Moneda = CASE WHEN Moneda = '604' THEN 'Soles'
				   WHEN Moneda = '840' THEN 'Dólares americanos' END
	,TipoTrx = Cod_Transaccion
	,FechaProceso = CAST(Confirmado AS DATE)
	,ARN_ARD = CASE WHEN ARD_ARN87_034 LIKE '%10010140549203610461115%' THEN '74357041317005270000065' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10008230636554088900824%' THEN '74357042234005718000055' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10011240709081339951229%' THEN '74357041361005169400108' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043101001659847487%' THEN '74357043102956681847483' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043081001682333517%' THEN '74357043081774368333510' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043103001791838533%' THEN '74357043103882508838530' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043101001659887954%' THEN '74357043101895085887953' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043093001480909316%' THEN '74357043093804304909317' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043061002085381354%' THEN '74357043063004306000019' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043060003192316599%' THEN '74357043138000072300014' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043116001783300307%' THEN '74357043117000276300013' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043261004354900060%' THEN '74096233261000110102531' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043257004366900021%' THEN '74096233257000110168124' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043257004367000078%' THEN '74096233257000110168710' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043273004964900068%' THEN '74096233273000110074520' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043338006302500032%' THEN '74096233338000110397858' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043346005705100143%' THEN '74096233346000110492709' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043340006235100138%' AND MC_Aprobador = 'PR0034' THEN '74096233340000110234354' --ARN TRX DISTINTO AL DE CC  
					WHEN ARD_ARN87_034 LIKE '%74357043340006235100138%' AND MC_Aprobador = '' THEN '74096233340000110233919' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357043336004648000165%' THEN '74096233336000110332659' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145003546300055%' THEN '74357043145003546300058' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144003912400555%' THEN '74357043144003912400558' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145006299900112%' THEN '74357043145006299900115' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145005344400649%' THEN '74357043145005344400642' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145004617600548%' THEN '74357043145004617600541' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144002707218313%' THEN '74357043144002707218316' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144002706839119%' THEN '74357043144002706839112' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145003696100719%' THEN '74357043145003696100712' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144003154700415%' THEN '74357043144003154700418' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144005069701453%' THEN '74357043144005069701456' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144004665600722%' THEN '74357043144004665600725' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144005857700196%' THEN '74357043144005857700199' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145007778200255%' THEN '74357043145007778200258' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145004110100434%' THEN '74357043145004110100437' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145005570500609%' THEN '74357043145005570500602' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145005184500011%' THEN '74357043145005184500014' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144003241700063%' THEN '74357043144003241700066' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145003393800058%' THEN '74357043145003393800051' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144003563900036%' THEN '74357043144003563900039' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144005165700318%' THEN '74357043144005165700311' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145003812600485%' THEN '74357043145003812600488' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145005185200041%' THEN '74357043145005185200044' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145008653400010%' THEN '74357043145008653400013' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144000166900017%' THEN '74357043144000166900010' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144007245400547%' THEN '74357043144007245400540' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144002707225383%' THEN '74357043144002707225386' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145001342600025%' THEN '74357043145001342600028' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145009671700191%' THEN '74357043145009671700194' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145001797000358%' THEN '74357043145001797000351' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144006427100032%' THEN '74357043144006427100035' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145004765200869%' THEN '74357043145004765200862' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145009301200182%' THEN '74357043145009301200185' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144005000700069%' THEN '74357043144005000700062' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503145005495100279%' THEN '74357043145005495100272' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144005012200074%' THEN '74357043144005012200077' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%75301503144005010500020%' THEN '74357043144005010500023' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044073004678000122%' THEN '74096234073000110206767' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044101004908100052%' THEN '74096234101000110555896' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044101004908200043%' THEN '74096234101000110555441' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044092005399400308%' THEN '74096234092000110147174' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044101004895300020%' THEN '74096234101000110438879' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044101004895400028%' THEN '74096234101000110438515' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044101004895500025%' THEN '74096234101000110439968' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044101004893900052%' THEN '74096234101000110358333' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044104005492300039%' THEN '74096234103000110667509' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044104005492200171%' THEN '74096234103000110668036' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044104005492100181%' THEN '74096234103000110667772' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004704700033%' THEN '74096234108000110621121' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004704800023%' THEN '74096234108000110621642' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004932700086%' THEN '74096234108000110456023' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004932800050%' THEN '74096234108000110455538' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004932900157%' THEN '74096234108000110456510' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044109005255000102%' THEN '74096234109000110658031' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044109005255100043%' THEN '74096234109000110658486' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004784200029%' THEN '74096234108000110227515' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004784300019%' THEN '74096234108000110224371' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004784400025%' THEN '74096234108000110225345' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044108004784500055%' THEN '74096234108000110227093' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044104005373300041%' THEN '74096234104000110316502' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044145005647900023%' THEN '74096234145000110224202' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044145005648000138%' THEN '74096234145000110224046' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044160005714700140%' THEN '74096234160000110723872' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044144005242700027%' THEN '74096234144000110367473' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044162004840200057%' THEN '74096234162000110047759' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044162004840400020%' THEN '74096234162000110050415' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044153006195500313%' THEN '74096234153000110712056' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044153006195600022%' THEN '74096234153000110711868' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044153006195700079%' THEN '74096234153000110711967' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044185004856735676%' THEN '74096234185000110268325' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044226003655419517%' THEN '74096234226000110166645' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044238003029714185%' THEN '74096234237000110771193' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044206003757820996%' THEN '74096234206000110269567' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044226003655415945%' THEN '74096234226000110259424' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044239003763223525%' THEN '74096234239000110274022' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044228003782317368%' THEN '74096234228000110643518' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044246003849054978%' THEN '74096234246000110151221' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044273003332914528%' THEN '74096234273000110181828' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10007140626241067270716%' THEN '74357044196003029300035' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044242003664039884%' THEN '74096234242000110134833' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044223003694918282%' THEN '74096234223000110005317' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044340004663001702%' THEN '74096234337000060000725' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044239003763043881%' THEN '74096234239000110116496' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044333004228714400%' THEN '74096234333000150004292' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044240003648401889%' THEN '74096234240000110003568' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044330003603807170%' THEN '74096234330000110042211' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044345003741523989%' THEN '74096234345000090015271' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044345003741520381%' THEN '74096234345000110010690' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044366003463832737%' THEN '74096234366000090043731' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044366003463832828%' THEN '74096234366000090042451' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044366003463842082%' THEN '74096234365000230001491' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045028003463606591%' THEN '74096235028000090028911' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045016003442525767%' THEN '74096235016000080003241' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045029003317622553%' THEN '74096235029000100043867' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357044359003436645124%' THEN '74096234359000090036072' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045035003238500534%' THEN '74096235035000200032580' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045035003238500260%' THEN '74096235035000200034768' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045035003238603569%' THEN '74096235035000100011932' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045060002623167915%' THEN '74096235060000120126684' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045064003400705832%' THEN '74096235064000160030669' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045071002886613842%' THEN '74096235071000150048607' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045080003306204211%' THEN '74096235080000170023407' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045080003306203791%' THEN '74096235080000170042274' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045065004363540546%' THEN '74096235064000220013929' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045076003039700341%' THEN '74096235076000200048420' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045079006750200026%' THEN '74096235079000170021057' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045065004363501175%' THEN '74096235065000200013625' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045065004363501191%' THEN '74096235065000200013336' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045073002859800077%' THEN '74096235073000190072292' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045098003887500011%' THEN '74096235098000150174410' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045100005617400129%' THEN '74096235100000140124356' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045104008187500860%' THEN '74096235104000110065551' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045097007368700264%' THEN '74096235096000030022674' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045111002722920361%' THEN '74096235111000090030782' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045111009108800034%' THEN '74096235111000150095618' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045095002512923807%' THEN '74096235095000130015348' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045140003942200761%' THEN '74096235140000130036745' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045138004571500079%' THEN '74096235138000140002426' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045131004957600417%' THEN '74096235131000140011697' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045130006203700132%' THEN '74096235130000150019110' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045133003628525431%' THEN '74096235133000150018291' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045166004068000034%' THEN '74096235166000100171166' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012180045222759261225%' THEN '75301504352008777900016' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012102226276837731212%' THEN '75301504345002312400012' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10001030237533143380104%' THEN '75301505002002317000016' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012172303282506081225%' THEN '75301504352008778000014' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012280753156708361230%' THEN '75301504363002316800016' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012202315457411401225%' THEN '75301504355008777700017' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012282053557193461230%' THEN '75301504363002316900014' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012280412136390881229%' THEN '75301504362008791100013' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045158002839405656%' THEN '74096235158000140014038' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045136004150800173%' THEN '74096235136000110035986' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045136004150800165%' THEN '74096235136000110038303' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012040817004075261205%' THEN '75301504338005076800011' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045165002407700166%' THEN '74096235165000150171869' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045178004761900049%' THEN '74096235178000190162956' --ARN TRX DISTINTO AL DE CC ---- Agregado 16/07/2025
					WHEN ARD_ARN87_034 LIKE '%74357045197002323702314%' THEN '74096235197000190021423' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045112001201900034%' THEN '74096235112000150068879' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045107004035400053%' THEN '74096235107000160129700' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045162003034103884%' THEN '74096235162000190021614' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%74357045185001822627604%' THEN '74096235185000120079354' --ARN TRX DISTINTO AL DE CC ---- Agregado 24/07/2025
					WHEN ARD_ARN87_034 LIKE '%74357045181001618802068%' THEN '74096235181000200159708' --ARN TRX DISTINTO AL DE CC ---- Agregado 24/07/2025
					WHEN ARD_ARN87_034 LIKE '%74357045188002397800037%' THEN '74096235188000140206513' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045196003978500038%' THEN '74096235196000170020206' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045175001538121613%' THEN '74096235175000080058408' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045197002323504330%' THEN '74096235196000210170581' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045196002903303328%' THEN '74096235196000160165763' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045208001329211707%' THEN '74096235208000090023690' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045213001596314625%' THEN '74096235213000170022094' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045215001371711811%' THEN '74096235215000150006941' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045211008496713006%' THEN '74096235211000080052811' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045205001616011557%' THEN '74096235205000100008056' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045205001616025573%' THEN '74096235205000090002119' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045213001596351627%' THEN '74096235213000070065201' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045217003893339319%' THEN '74096235217000150143650' --ARN TRX DISTINTO AL DE CC 
					WHEN ARD_ARN87_034 LIKE '%74357045214002398709573%' THEN '74096235213000210130311' --ARN TRX DISTINTO AL DE CC 

					ELSE RIGHT(ARD_ARN87_034,23) END 
	,Autorizacion = CASE WHEN Autorizacion LIKE '%758122%' THEN '758122'
					ELSE REPLICATE('0',(6-LEN(Autorizacion)))+Autorizacion END
	,CodComercio = Cod_Establecimiento
	,NomComercio = CASE WHEN ARD_ARN87_034 like '%75301502293000279800014%' THEN 'BALIQ JOYAS                   ' ELSE TRIM(Nombrecomercial) END
	,Voucher = REPLICATE('0',(7-LEN(Voucher)))+Voucher
	,Terminal
	,Entrymode  = CASE WHEN ARD_ARN87_034 like '%75301502293000279800014%' THEN 'POS CHIP EMV        ' 
					   WHEN ARD_ARN87_034 LIKE '%74357045064003400705832%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045064003400705840%' THEN 'E-COMMERCE                                        '	
					   WHEN ARD_ARN87_034 LIKE '%74357045062003358365565%' THEN 'PQ                                                '
					   WHEN ARD_ARN87_034 LIKE '%74357045060002623167915%' THEN 'POS VIRTUAL                                       '
					   WHEN ARD_ARN87_034 LIKE '%74357045071002886613842%' THEN 'POS VIRTUAL                                       '
					   WHEN ARD_ARN87_034 LIKE '%74357045080003306204211%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045080003306203791%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045065004363540546%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045076003039700341%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045062003358380036%' THEN 'POS VIRTUAL                                       '
					   WHEN ARD_ARNFuente LIKE '%74357045062003358380036%' THEN 'POS VIRTUAL                                       ' -- EN CASO DE RET
					   WHEN ARD_ARN87_034 LIKE '%74357045065004363501175%' THEN 'CARGO AUTOMATICO (RECURRENTE)                     '
					   WHEN ARD_ARN87_034 LIKE '%74357045065004363501191%' THEN 'CARGO AUTOMATICO (RECURRENTE)                     '
					   WHEN ARD_ARN87_034 LIKE '%74357045073002859800077%' THEN 'PQ                                                '
					   WHEN ARD_ARN87_034 LIKE '%74357045111002722920361%' THEN 'CARGO AUTOMATICO (RECURRENTE)                     ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045095002512923807%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045140003942200761%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045133003628525431%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045158002839405656%' THEN 'E-COMMERCE                                        ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045136004150800173%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045136004150800165%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045197002323702314%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045162003034103884%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC
					   WHEN ARD_ARN87_034 LIKE '%74357045185001822627604%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC ---- Agregado 24/07/2025
					   WHEN ARD_ARN87_034 LIKE '%74357045181001618802068%' THEN 'POS VIRTUAL                                       ' --ARN TRX DISTINTO AL DE CC ---- Agregado 24/07/2025
					   WHEN ARD_ARN87_034 LIKE '%74357045197002323504330%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045175001538121613%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045196002903303328%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045208001329211707%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045213001596314625%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045215001371711811%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045211008496713006%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045205001616011557%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045205001616025573%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045213001596351627%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045217003893339319%' THEN 'E-COMMERCE                                        '
					   WHEN ARD_ARN87_034 LIKE '%74357045214002398709573%' THEN 'E-COMMERCE                                        '

				  ELSE TRIM(Entrymode) 
					END
	,Referencia
	,ImporteTrx = CONVERT(DECIMAL(18,2),Importe)
	,ARN_ARDFuente = CASE WHEN ARD_ARN87_034 LIKE '%75301501075000842900016%' AND MC_Aprobador = '' THEN '75301501075000842900016'
						  WHEN ARD_ARN87_034 LIKE '%75301501224005031301066%' AND MC_Aprobador = '' THEN '75301501224005031301066'
						  WHEN ARD_ARN87_034 LIKE '%75301502062001420300226%' THEN '75301502062001420300226'
						  WHEN ARD_ARN87_034 LIKE '%75301502111002144500019%' THEN '75301502111002144500019' --CC BY DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503095002657910405%' AND MC_Aprobador = '' THEN '75301503095002657910405'
						  WHEN ARD_ARNFuente LIKE '%10010140549203610461115%' THEN '74357041317005270000065' --TRX ARN DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10008230636554088900824%' THEN '74357042234005718000055' --TRX ARN DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10011240709081339951229%' THEN '74357041361005169400108' --TRX ARN DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043101001659847487%' THEN '74357043102956681847483' --TRX ARN DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043081001682333517%' THEN '74357043081774368333510' --ARN TRX DISTINTO AL DE CC
					      WHEN ARD_ARNFuente LIKE '%74357043103001791838533%' THEN '74357043103882508838530' --ARN TRX DISTINTO AL DE CC
					      WHEN ARD_ARNFuente LIKE '%74357043101001659887954%' THEN '74357043101895085887953' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043093001480909316%' THEN '74357043093804304909317' --ARN TRX DISTINTO AL DE CC
					      WHEN ARD_ARNFuente LIKE '%74357043061002085381354%' THEN '74357043063004306000019' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043060003192316599%' THEN '74357043138000072300014' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043116001783300307%' THEN '74357043117000276300013' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786225%' AND MC_Aprobador = '' THEN '75301503110002106786225' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786217%' AND MC_Aprobador = '' THEN '75301503110002106786217' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786233%' AND MC_Aprobador = '' THEN '75301503110002106786233' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106753688%' AND MC_Aprobador = '' THEN '75301503110002106753688' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786183%' AND MC_Aprobador = '' THEN '75301503110002106786183' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110001643087618%' AND MC_Aprobador = '' THEN '75301503110001643087618' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110001643036466%' AND MC_Aprobador = '' THEN '75301503110001643036466' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110001643115088%' AND MC_Aprobador = '' THEN '75301503110001643115088' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%74357043167000162100013%' AND MC_Aprobador = '' THEN '74357043167000162100013' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%74357043224000032900015%' AND MC_Aprobador = '' THEN '74357043224000032900015' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503219000174500015%' AND MC_Aprobador = '' THEN '75301503219000174500015' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357043261004354900060%' THEN '74096233261000110102531' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043257004366900021%' THEN '74096233257000110168124' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043257004367000078%' THEN '74096233257000110168710' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043273004964900068%' THEN '74096233273000110074520' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%75301503204001750920384%' AND MC_Aprobador = '' THEN '75301503204001750920384' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503234001705100748%' AND MC_Aprobador = '' THEN '75301503234001705100748' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503312000173400015%' AND MC_Aprobador = '' THEN '75301503312000173400015' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357043338006302500032%' THEN '74096233338000110397858' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043346005705100143%' THEN '74096233346000110492709' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043340006235100138%' AND MC_Aprobador = 'PR0034' THEN '74096233340000110234354' --ARN TRX DISTINTO AL DE CC  
						  WHEN ARD_ARNFuente LIKE '%74357043340006235100138%' AND MC_Aprobador = '' THEN '74096233340000110233919' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357043336004648000165%' THEN '74096233336000110332659' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145003546300055%' THEN '74357043145003546300058' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144003912400555%' THEN '74357043144003912400558' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145006299900112%' THEN '74357043145006299900115' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145005344400649%' THEN '74357043145005344400642' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145004617600548%' THEN '74357043145004617600541' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144002707218313%' THEN '74357043144002707218316' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144002706839119%' THEN '74357043144002706839112' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145003696100719%' THEN '74357043145003696100712' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144003154700415%' THEN '74357043144003154700418' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144005069701453%' THEN '74357043144005069701456' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144004665600722%' THEN '74357043144004665600725' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144005857700196%' THEN '74357043144005857700199' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145007778200255%' THEN '74357043145007778200258' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145004110100434%' THEN '74357043145004110100437' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145005570500609%' THEN '74357043145005570500602' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145005184500011%' THEN '74357043145005184500014' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144003241700063%' THEN '74357043144003241700066' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145003393800058%' THEN '74357043145003393800051' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144003563900036%' THEN '74357043144003563900039' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144005165700318%' THEN '74357043144005165700311' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145003812600485%' THEN '74357043145003812600488' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145005185200041%' THEN '74357043145005185200044' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145008653400010%' THEN '74357043145008653400013' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144000166900017%' THEN '74357043144000166900010' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144007245400547%' THEN '74357043144007245400540' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144002707225383%' THEN '74357043144002707225386' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145001342600025%' THEN '74357043145001342600028' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145009671700191%' THEN '74357043145009671700194' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145001797000358%' THEN '74357043145001797000351' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144006427100032%' THEN '74357043144006427100035' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145004765200869%' THEN '74357043145004765200862' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145009301200182%' THEN '74357043145009301200185' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144005000700069%' THEN '74357043144005000700062' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503145005495100279%' THEN '74357043145005495100272' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144005012200074%' THEN '74357043144005012200077' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%75301503144005010500020%' THEN '74357043144005010500023' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044073004678000122%' THEN '74096234073000110206767' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044101004908100052%' THEN '74096234101000110555896' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044101004908200043%' THEN '74096234101000110555441' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044092005399400308%' THEN '74096234092000110147174' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044101004895300020%' THEN '74096234101000110438879' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044101004895400028%' THEN '74096234101000110438515' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044101004895500025%' THEN '74096234101000110439968' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044101004893900052%' THEN '74096234101000110358333' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044104005492300039%' THEN '74096234103000110667509' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044104005492200171%' THEN '74096234103000110668036' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044104005492100181%' THEN '74096234103000110667772' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004704700033%' THEN '74096234108000110621121' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004704800023%' THEN '74096234108000110621642' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004932700086%' THEN '74096234108000110456023' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004932800050%' THEN '74096234108000110455538' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004932900157%' THEN '74096234108000110456510' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044109005255000102%' THEN '74096234109000110658031' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044109005255100043%' THEN '74096234109000110658486' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004784200029%' THEN '74096234108000110227515' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004784300019%' THEN '74096234108000110224371' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004784400025%' THEN '74096234108000110225345' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044108004784500055%' THEN '74096234108000110227093' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044104005373300041%' THEN '74096234104000110316502' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044145005647900023%' THEN '74096234145000110224202' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044145005648000138%' THEN '74096234145000110224046' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044160005714700140%' THEN '74096234160000110723872' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044144005242700027%' THEN '74096234144000110367473' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%74357044154001221722378%' AND MC_Aprobador = '' THEN '74357044171000157700019' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357044162004840200057%' THEN '74096234162000110047759' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044162004840400020%' THEN '74096234162000110050415' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044153006195500313%' THEN '74096234153000110712056' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044153006195600022%' THEN '74096234153000110711868' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044153006195700079%' THEN '74096234153000110711967' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044185004856735676%' THEN '74096234185000110268325' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314220%'  AND MC_Aprobador = '' THEN '75301504220002982314220' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314527%'  AND MC_Aprobador = '' THEN '75301504220002982314527' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314535%'  AND MC_Aprobador = '' THEN '75301504220002982314535' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314543%'  AND MC_Aprobador = '' THEN '75301504220002982314543' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314550%'  AND MC_Aprobador = '' THEN '75301504220002982314550' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314568%'  AND MC_Aprobador = '' THEN '75301504220002982314568' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314576%'  AND MC_Aprobador = '' THEN '75301504220002982314576' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314584%'  AND MC_Aprobador = '' THEN '75301504220002982314584' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314592%'  AND MC_Aprobador = '' THEN '75301504220002982314592' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314600%'  AND MC_Aprobador = '' THEN '75301504220002982314600' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314618%'  AND MC_Aprobador = '' THEN '75301504220002982314618' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303876%'  AND MC_Aprobador = '' THEN '75301504220002982303876' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303934%'  AND MC_Aprobador = '' THEN '75301504220002982303934' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303942%'  AND MC_Aprobador = '' THEN '75301504220002982303942' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303959%'  AND MC_Aprobador = '' THEN '75301504220002982303959' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312521%'  AND MC_Aprobador = '' THEN '75301504220002982312521' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312513%'  AND MC_Aprobador = '' THEN '75301504220002982312513' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312497%'  AND MC_Aprobador = '' THEN '75301504220002982312497' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312505%'  AND MC_Aprobador = '' THEN '75301504220002982312505' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357044226003655419517%' THEN '74096234226000110166645' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044238003029714185%' THEN '74096234237000110771193' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044206003757820996%' THEN '74096234206000110269567' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044226003655415945%' THEN '74096234226000110259424' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044239003763223525%' THEN '74096234239000110274022' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044228003782317368%' THEN '74096234228000110643518' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044246003849054978%' THEN '74096234246000110151221' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044273003332914528%' THEN '74096234273000110181828' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10007140626241067270716%' THEN '74357044196003029300035' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044242003664039884%' THEN '74096234242000110134833' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044223003694918282%' THEN '74096234223000110005317' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%75301504316000101100038%'  AND MC_Aprobador = 'MC0031' THEN '75301504316000101100038' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504288000361800016%'  AND MC_Aprobador = 'MC2058' THEN '75301504288000361800016' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357044340004663001702%' THEN '74096234337000060000725' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044239003763043881%' THEN '74096234239000110116496' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044333004228714400%' THEN '74096234333000150004292' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044240003648401889%' THEN '74096234240000110003568' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%75301504334000321300010%'  AND MC_Aprobador = '' THEN '75301504334000321300010' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357044330003603807170%' THEN '74096234330000110042211' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%75301504347000377800017%'  AND MC_Aprobador = 'MC2058' THEN '75301504347000377800017' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357044345003741523989%' THEN '74096234345000090015271' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044345003741520381%' THEN '74096234345000110010690' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%75301504361000069600015%'  AND MC_Aprobador = 'MCPC100WEB' THEN '75301504361000069600015' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARNFuente LIKE '%74357044366003463832737%' THEN '74096234366000090043731' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044366003463832828%' THEN '74096234366000090042451' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044366003463842082%' THEN '74096234365000230001491' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045028003463606591%' THEN '74096235028000090028911' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045016003442525767%' THEN '74096235016000080003241' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045029003317622553%' THEN '74096235029000100043867' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357044359003436645124%' THEN '74096234359000090036072' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045035003238500534%' THEN '74096235035000200032580' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045035003238500260%' THEN '74096235035000200034768' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045035003238603569%' THEN '74096235035000100011932' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045060002623167915%' THEN '74096235060000120126684' --ARN TRX DISTINTO AL DE CC
	  					  WHEN ARD_ARNFuente LIKE '%74357045064003400705832%' THEN '74096235064000160030669' --ARN TRX DISTINTO AL DE 
						  WHEN ARD_ARNFuente LIKE '%74357045071002886613842%' THEN '74096235071000150048607' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045080003306204211%' THEN '74096235080000170023407' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045080003306203791%' THEN '74096235080000170042274' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045065004363540546%' THEN '74096235064000220013929' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045076003039700341%' THEN '74096235076000200048420' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045079006750200026%' THEN '74096235079000170021057' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045065004363501175%' THEN '74096235065000200013625' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045065004363501191%' THEN '74096235065000200013336' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045073002859800077%' THEN '74096235073000190072292' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045098003887500011%' THEN '74096235098000150174410' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045100005617400129%' THEN '74096235100000140124356' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045104008187500860%' THEN '74096235104000110065551' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045097007368700264%' THEN '74096235096000030022674' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045111002722920361%' THEN '74096235111000090030782' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045111009108800034%' THEN '74096235111000150095618' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045095002512923807%' THEN '74096235095000130015348' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045140003942200761%' THEN '74096235140000130036745' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045138004571500079%' THEN '74096235138000140002426' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045131004957600417%' THEN '74096235131000140011697' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045130006203700132%' THEN '74096235130000150019110' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045133003628525431%' THEN '74096235133000150018291' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045166004068000034%' THEN '74096235166000100171166' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012180045222759261225%' THEN '75301504352008777900016' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012102226276837731212%' THEN '75301504345002312400012' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10001030237533143380104%' THEN '75301505002002317000016' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012172303282506081225%' THEN '75301504352008778000014' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012280753156708361230%' THEN '75301504363002316800016' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012202315457411401225%' THEN '75301504355008777700017' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012282053557193461230%' THEN '75301504363002316900014' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012280412136390881229%' THEN '75301504362008791100013' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045158002839405656%' THEN '74096235158000140014038' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045136004150800173%' THEN '74096235136000110035986' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045136004150800165%' THEN '74096235136000110038303' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%10012040817004075261205%' THEN '75301504338005076800011' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045165002407700166%' THEN '74096235165000150171869' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045178004761900049%' THEN '74096235178000190162956' --ARN TRX DISTINTO AL DE CC ---- Agregado 16/07/2025
						  WHEN ARD_ARN87_034 LIKE '%74357045197002323702314%' THEN '74096235197000190021423' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%74357045112001201900034%' THEN '74096235112000150068879' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%74357045107004035400053%' THEN '74096235107000160129700' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARN87_034 LIKE '%74357045162003034103884%' THEN '74096235162000190021614' --ARN TRX DISTINTO AL DE CC
						  WHEN ARD_ARNFuente LIKE '%74357045185001822627604%' THEN '74096235185000120079354' --ARN TRX DISTINTO AL DE CC ---- Agregado 24/07/2025
						  WHEN ARD_ARNFuente LIKE '%74357045181001618802068%' THEN '74096235181000200159708' --ARN TRX DISTINTO AL DE CC ---- Agregado 24/07/2025
						  WHEN ARD_ARNFuente LIKE '%74357045188002397800037%' THEN '74096235188000140206513' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045196003978500038%' THEN '74096235196000170020206' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045175001538121613%' THEN '74096235175000080058408' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045197002323504330%' THEN '74096235196000210170581' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045196002903303328%' THEN '74096235196000160165763' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045208001329211707%' THEN '74096235208000090023690' --ARN TRX DISTINTO AL DE CC 
					  	  WHEN ARD_ARNFuente LIKE '%74357045213001596314625%' THEN '74096235213000170022094' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045215001371711811%' THEN '74096235215000150006941' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045211008496713006%' THEN '74096235211000080052811' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045205001616011557%' THEN '74096235205000100008056' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045205001616025573%' THEN '74096235205000090002119' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045213001596351627%' THEN '74096235213000070065201' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045217003893339319%' THEN '74096235217000150143650' --ARN TRX DISTINTO AL DE CC 
						  WHEN ARD_ARNFuente LIKE '%74357045214002398709573%' THEN '74096235213000210130311' --ARN TRX DISTINTO AL DE CC 
						  ELSE RIGHT(ARD_ARNFuente,23) END --Cuando haya CC por DEV y aparte ingresa por la trx, duplicar el registro y cambiar el mc aprobador = '' con el arn fuente que sea el mismo del ard DEV
	,Ecom
	,ID_Transaction = RIGHT(Id_Transaction,LEN(Id_Transaction)-1)
	,MC_Aprobador
	,Fecha_Autorizado = CASE WHEN Fecha_Hr_Autorizado = '0' THEN '1900-01-01'  ELSE CAST(Fecha_Hr_Autorizado  AS DATE) END
	,Hora_Autorizado = ISNULL(STUFF(STUFF(STUFF(Hora_Autorizado, 1, 0, REPLICATE('0', 6 - LEN(Hora_Autorizado))),3,0,':'),6,0,':'),'00:00:00')
FROM dbo.PFYCC_GI_CARGA_AS400_TRX
)
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
,SIN_DUPLICADOS AS (
SELECT Tarjeta
	,FechaTrx
	,Moneda
	,TipoTrx
	,FechaProceso
	,ARN_ARD
	,Autorizacion
	,CodComercio
	,NomComercio
	,Voucher
	,Terminal
	,Entrymode
	,Referencia
	,ImporteTrx
	,ARN_ARDFuente
	,Ecom
	,ID_Transaction
	,MC_Aprobador
	,Fecha_Autorizado
	,Hora_Autorizado
FROM (	
		SELECT Tarjeta
			,FechaTrx
			,Moneda
			,TipoTrx
			,FechaProceso
			,ARN_ARD
			,Autorizacion
			,CodComercio
			,NomComercio
			,Voucher
			,Terminal
			,Entrymode
			,Referencia
			,ImporteTrx
			,ARN_ARDFuente
			,Ecom
			,ID_Transaction
			,MC_Aprobador
			,Fecha_Autorizado
			,Hora_Autorizado
			,Orden = ROW_NUMBER() OVER (PARTITION BY Tarjeta, FechaTrx, Moneda, TipoTrx, FechaProceso, ARN_ARD, Autorizacion, CodComercio, Voucher, Terminal, Entrymode, ImporteTrx, ARN_ARDFuente, Ecom , MC_Aprobador ORDER BY Referencia DESC, ID_Transaction DESC, Fecha_Autorizado DESC, Hora_Autorizado DESC) --,NomComercio  ORDER BY MC_Aprobador DESC,
		FROM INICIO
	) A
WHERE Orden = 1

)
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT *
INTO dbo.PFYCC_GI_TRANS_AS400_TRX
FROM SIN_DUPLICADOS
