USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_TRANS_CONTRACARGOS_MASTERCARD]    Script Date: 29/10/2025 16:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_PFYCC_GI_TRANS_CONTRACARGOS_MASTERCARD]
AS

-----------------------------------------------------------------------------
--ELIMINAR TABLA CREADA
-----------------------------------------------------------------------------
DROP TABLE dbo.PFYCC_GI_TRANS_CONTRACARGOS_MASTERCARD;

-------------------------------------------------------------------------------
----EJECUTAR CONSULTA DE CARGA
-------------------------------------------------------------------------------

WITH

INICIO AS (
SELECT Tarjeta = CASE WHEN ARD_ARN87_034 LIKE '%75301501106000214500058%' THEN RIGHT(Tarjeta,15) 
						WHEN ARD_ARN87_034 like '%75301503295001734200135%' THEN '5113798789091735'
						--WHEN ARD_ARN87_034 like '%75301505234000247100013%' THEN '518501599681'
						--WHEN ARD_ARN87_034 like '%75301505234000246500015%' THEN '518501603682'
						--ELSE RIGHT(Tarjeta,16) END
						ELSE TRIM(REPLACE(REPLACE(trim(Tarjeta), NCHAR(28), ''),'''','')) END

	,ARN_ARD = CASE WHEN ARD_ARN87_034 LIKE '%10012180045222759261225%' THEN '75301504352008777900016' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012102226276837731212%' THEN '75301504345002312400012' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10001030237533143380104%' THEN '75301505002002317000016' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012172303282506081225%' THEN '75301504352008778000014' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012280753156708361230%' THEN '75301504363002316800016' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012202315457411401225%' THEN '75301504355008777700017' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012282053557193461230%' THEN '75301504363002316900014' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012280412136390881229%' THEN '75301504362008791100013' --ARN TRX DISTINTO AL DE CC
					WHEN ARD_ARN87_034 LIKE '%10012040817004075261205%' THEN '75301504338005076800011' --ARN TRX DISTINTO AL DE CC
					ELSE RIGHT(ARD_ARN87_034,23) END
	,TipoTrx = Cod_Transaccion
	,Autorizacion = CASE WHEN Autorizacion LIKE '%758122%' THEN '758122' 
					ELSE REPLICATE('0',(6-LEN(Autorizacion)))+Autorizacion END
	,CodComercio = Cod_Establecimiento
	,NomComercio = TRIM(Nombrecomercial)
	,ARN_ARDFuente = CASE WHEN ARD_ARN87_034 LIKE '%75301501075000842900016%' AND MC_Aprobador ='' THEN '75301501075000842900016' 
					      WHEN ARD_ARN87_034 LIKE '%75301501224005031301066%' AND MC_Aprobador ='' THEN '75301501224005031301066' 
						  WHEN ARD_ARN87_034 LIKE '%75301502062001420300226%' THEN '75301502062001420300226'
						  WHEN ARD_ARN87_034 LIKE '%75301502111002144500019%' THEN '75301502111002144500019' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503095002657910405%' AND MC_Aprobador = '' THEN '75301503095002657910405' --CC BY DEV & CC POR LA VENTA
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786225%' AND MC_Aprobador = '' THEN '75301503110002106786225' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786217%' AND MC_Aprobador = '' THEN '75301503110002106786217' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786233%' AND MC_Aprobador = '' THEN '75301503110002106786233' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106753688%' AND MC_Aprobador = '' THEN '75301503110002106753688' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110002106786183%' AND MC_Aprobador = '' THEN '75301503110002106786183' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110001643087618%' AND MC_Aprobador = '' THEN '75301503110001643087618' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110001643036466%' AND MC_Aprobador = '' THEN '75301503110001643036466' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503110001643115088%' AND MC_Aprobador = '' THEN '75301503110001643115088' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503219000174500015%' AND MC_Aprobador = '' THEN '75301503219000174500015' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503204001750920384%' AND MC_Aprobador = '' THEN '75301503204001750920384' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503234001705100748%' AND MC_Aprobador = '' THEN '75301503234001705100748' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301503312000173400015%' AND MC_Aprobador = '' THEN '75301503312000173400015' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314220%'  AND MC_Aprobador = '' THEN '75301504220002982314220' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314527%'  AND MC_Aprobador = '' THEN '75301504220002982314527' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314535%'  AND MC_Aprobador = '' THEN '75301504220002982314535' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314543%'  AND MC_Aprobador = '' THEN '75301504220002982314543' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314550%'  AND MC_Aprobador = '' THEN '75301504220002982314550' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314568%'  AND MC_Aprobador = '' THEN '75301504220002982314568' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314576%'  AND MC_Aprobador = '' THEN '75301504220002982314576' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314584%'  AND MC_Aprobador = '' THEN '75301504220002982314584' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314592%'  AND MC_Aprobador = '' THEN '75301504220002982314592' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314600%'  AND MC_Aprobador = '' THEN '75301504220002982314600' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982314618%'  AND MC_Aprobador = '' THEN '75301504220002982314618' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303876%'  AND MC_Aprobador = '' THEN '75301504220002982303876' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303934%'  AND MC_Aprobador = '' THEN '75301504220002982303934' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303942%'  AND MC_Aprobador = '' THEN '75301504220002982303942' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982303959%'  AND MC_Aprobador = '' THEN '75301504220002982303959' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312521%'  AND MC_Aprobador = '' THEN '75301504220002982312521' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312513%'  AND MC_Aprobador = '' THEN '75301504220002982312513' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312497%'  AND MC_Aprobador = '' THEN '75301504220002982312497' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504220002982312505%'  AND MC_Aprobador = '' THEN '75301504220002982312505' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504316000101100038%'  AND MC_Aprobador = 'MC0031' THEN '75301504316000101100038' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504288000361800016%'  AND MC_Aprobador = 'MC2058' THEN '75301504288000361800016' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504334000321300010%'  AND MC_Aprobador = '' THEN '75301504334000321300010' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504347000377800017%'  AND MC_Aprobador = 'MC2058' THEN '75301504347000377800017' --CC BY DEV SE PONE ARD DE LA DEV
						  WHEN ARD_ARN87_034 LIKE '%75301504361000069600015%'  AND MC_Aprobador = 'MCPC100WEB' THEN '75301504361000069600015' --CC BY DEV SE PONE ARD DE LA DEV
						  --WHEN ARD_ARN87_034 LIKE '%10012180045222759261225%' THEN '75301504352008777900016' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10012102226276837731212%' THEN '75301504345002312400012' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10001030237533143380104%' THEN '75301505002002317000016' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10012172303282506081225%' THEN '75301504352008778000014' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10012280753156708361230%' THEN '75301504363002316800016' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10012202315457411401225%' THEN '75301504355008777700017' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10012282053557193461230%' THEN '75301504363002316900014' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10012280412136390881229%' THEN '75301504362008791100013' --ARN TRX DISTINTO AL DE CC
						  --WHEN ARD_ARN87_034 LIKE '%10012040817004075261205%' THEN '75301504338005076800011' --ARN TRX DISTINTO AL DE CC

						  ELSE RIGHT(ARD_ARNFuente,23) END  
FROM dbo.PFYCC_GI_CARGA_AS400_TRX
WHERE (SUBSTRING(ARD_ARN87_034,2,2) = '75'  OR	ARD_ARN87_034 = '''10012180045222759261225'
											OR	ARD_ARN87_034 = '''10012102226276837731212'
											OR	ARD_ARN87_034 = '''10001030237533143380104'
											OR	ARD_ARN87_034 = '''10012172303282506081225'
											OR	ARD_ARN87_034 = '''10012280753156708361230'
											OR	ARD_ARN87_034 = '''10012202315457411401225'
											OR	ARD_ARN87_034 = '''10012282053557193461230'
											OR	ARD_ARN87_034 = '''10012280412136390881229'
											OR	ARD_ARN87_034 = '''10012040817004075261205'
	)
--and ARD_ARN87_034 LIKE'%75301505174004842200014%'
AND LEFT(Cod_Transaccion,1) in ('7','8')
)

--SELECT *
--FROM INICIO
----WHERE RIGHT(Tarjeta,16) = '5246010016256176'
--where ARN_ARD = '75301504338005076800011'

-----------------------------------------------------------------------------
,TRANSACCIONAL AS (
SELECT CodComercio
	,Autorizacion
	,NomComercio
	,Tarjeta = CASE WHEN ARN_ARD LIKE '%75301501106000214500058%' THEN RIGHT(Tarjeta,15) ELSE RIGHT(Tarjeta,16) END
	,ARN_ARD = RIGHT(ARN_ARD,23)
FROM INICIO
WHERE TipoTrx IN ('76','77','78')
GROUP BY CodComercio
	,Autorizacion
	,NomComercio
	,CASE WHEN ARN_ARD LIKE '%75301501106000214500058%' THEN RIGHT(Tarjeta,15) ELSE RIGHT(Tarjeta,16) END
	,RIGHT(ARN_ARD,23)

UNION ALL

SELECT CodComercio
	,Autorizacion
	,NomComercio 
	,Tarjeta = CASE WHEN ARN_ARD LIKE '%75301501106000214500058%' THEN RIGHT(Tarjeta,15) ELSE RIGHT(Tarjeta,16) END
	,ARN_ARD = RIGHT(ARN_ARD,23)
FROM INICIO
WHERE RIGHT(ARN_ARD,23)     IN ('75301501075000842900016', '75301501224005031301066', '75301502062001420300226', '75301502111002144500019', '75301503095002657910405', '75301503110002106786225', '75301503110002106786217', '75301503110002106786233','75301503110002106753688','75301503110002106786183','75301503110001643087618','75301503110001643036466','75301503110001643115088','75301503219000174500015','75301503204001750920384','75301503234001705100748','75301503312000173400015','75301504220002982314220'	,'75301504220002982314527'	,'75301504220002982314535'	,'75301504220002982314543'	,'75301504220002982314550'	,'75301504220002982314568'	,'75301504220002982314576'	,'75301504220002982314584'	,'75301504220002982314592'	,'75301504220002982314600'	,'75301504220002982314618','75301504220002982303876','75301504220002982303934','75301504220002982303942','75301504220002982303959','75301504220002982312521','75301504220002982312513','75301504220002982312497','75301504220002982312505','75301504316000101100038','75301504288000361800016','75301504327002358001270','75301504347000377800017','75301504361000069600015') --CC BY DEV SE PONE ARD DE LA DEV
AND RIGHT(ARN_ARDFuente,23) IN ('75301501075000842900016', '75301501224005031301066', '75301502062001420300226', '75301502111002144500019', '75301503095002657910405', '75301503110002106786225', '75301503110002106786217', '75301503110002106786233','75301503110002106753688','75301503110002106786183','75301503110001643087618','75301503110001643036466','75301503110001643115088','75301503219000174500015','75301503204001750920384','75301503234001705100748','75301503312000173400015','75301504220002982314220'	,'75301504220002982314527'	,'75301504220002982314535'	,'75301504220002982314543'	,'75301504220002982314550'	,'75301504220002982314568'	,'75301504220002982314576'	,'75301504220002982314584'	,'75301504220002982314592'	,'75301504220002982314600'	,'75301504220002982314618','75301504220002982303876','75301504220002982303934','75301504220002982303942','75301504220002982303959','75301504220002982312521','75301504220002982312513','75301504220002982312497','75301504220002982312505','75301504316000101100038','75301504288000361800016','75301504327002358001270','75301504347000377800017','75301504361000069600015') --CC BY DEV SE PONE ARD DE LA DEV
)

--SELECT *
--FROM TRANSACCIONAL
--WHERE ARN_ARD LIKE'%75301505234000246500015%'
,PRE_CARGA_AS400_CC_MC AS (
	SELECT Bin
		,Ingreso	
		,Envio	
		,Recibe	
		,MTI	
		,Fun	
		,Tarjeta = TRIM(REPLACE(trim(tarjeta), NCHAR(28), '')) 	
		,Tipo	
		,Importe	
		,Autori	= TRIM(REPLACE(trim(Autori), NCHAR(28), '')) 
		,AcqRefData	= TRIM(REPLACE(trim(AcqRefData), NCHAR(28), '')) 
		,Nombre	
		,Razon	
		,Term	
		,Adqu	
		,Emis	
		,Mensaje	
		,Sit	
		,Situa	
		,Gestor	
		,Cambio	
		,FrauReporteUsuario	
		,ObserRegularizaciones	
		,Mone	
		,Cod_Estab = TRIM(REPLACE(trim(Cod_Estab), NCHAR(28), '')) 		
		,NroControl = TRIM(REPLACE(trim(NroControl), NCHAR(28), '')) 		
	FROM dbo.PFYCC_GI_CARGA_AS400_CONTRACARGOS_MASTERCARD
)
--SELECT * FROM PRE_CARGA_AS400_CC_MC 
----WHERE Tarjeta LIKE '%5353185285895877%'
--where AcqRefData = '75301505174004842200014'
-----------------------------------------------------------------------------
,TABLA_INICIO AS (
SELECT DISTINCT Intercambio = TRIM(A.cambio)
	,Bin = TRIM(A.Bin)
	,Fecha_CC = CAST(TRIM(A.Ingreso) AS DATE)
	,ICA_Ingresa_CC = LEFT(A.Envio,6)
	,ICA_Recibe_CC = LEFT(A.Recibe,6)
	,MTI = TRIM(A.MTI)
	,Fun = CASE WHEN LEFT(A.AcqRefData,23) = '75301501191002577100019' AND LEFT(A.NroControl,10) = '2107130017' AND TRIM(A.Ingreso) = '20210713' THEN '450'
				WHEN LEFT(A.AcqRefData,23) = '75301501191002577100019' AND LEFT(A.NroControl,10) = '2107130017' AND TRIM(A.Ingreso) = '20210715' THEN '450R'
				ELSE TRIM(A.Fun) END
	,Tarjeta = CASE WHEN LEFT(A.Tarjeta,15) = '551708242999749' THEN LEFT(A.Tarjeta,15) ELSE LEFT(A.Tarjeta,16) END 
	,Tipo = TRIM(A.Tipo)
	,Moneda_CC = CASE WHEN TRIM(A.Mone) = '604' THEN 'Soles'
					  WHEN TRIM(A.Mone) = '840' THEN 'Dólares americanos' END
	,Importe_CC = CONVERT(DECIMAL(18,2),TRIM(A.Importe))
	,Cod_Autorizacion = CASE WHEN D.Autorizacion IS NOT NULL THEN D.Autorizacion ELSE A.Autori END 
	,ARD = CASE WHEN SUBSTRING(A.AcqRefData,2,1) = '' THEN C.AcqRefData ELSE LEFT(A.AcqRefData,23) END
	,Cod_Comercio = CASE WHEN D.CodComercio IS NULL AND LEFT((TRIM(A.Cod_Estab)),8) = '00000000' THEN RIGHT((TRIM(A.Cod_Estab)),7) 
						WHEN D.CodComercio IS NULL AND LEFT((TRIM(A.Cod_Estab)),8) <> '00000000' THEN LEFT((TRIM(A.Cod_Estab)),7)
						ELSE D.CodComercio END
	,Nombre_Comercial = TRIM(A.Nombre)
	,NroControl = CASE WHEN SUBSTRING(NroControl,2,1) = '' THEN LEFT(B.Nro_Control,10)
					   WHEN SUBSTRING(NroControl,1,7) = '0000000' THEN LEFT(B.Nro_Control,10)
					   --WHEN SUBSTRING(NroControl,1,10) = '0000000001' THEN LEFT(B.Nro_Control,10)
					   --WHEN SUBSTRING(NroControl,1,10) = '0000000002' THEN LEFT(B.Nro_Control,10)
					   --WHEN SUBSTRING(NroControl,1,10) = '0000000003' THEN LEFT(B.Nro_Control,10) 
					   --WHEN SUBSTRING(NroControl,1,10) = '0000000004' THEN LEFT(B.Nro_Control,10) 
					   --WHEN SUBSTRING(NroControl,1,10) = '0000000005' THEN LEFT(B.Nro_Control,10) 
					   ELSE SUBSTRING(NroControl,1,10) END
	,Razon = CASE WHEN LEN(TRIM(A.Razon)) > 4 THEN RIGHT(TRIM(A.Razon),4) ELSE TRIM(A.Razon) END
	,Pais_Emisor = CASE WHEN TRIM(A.Bin) = '231020' THEN 'PER' ELSE TRIM(A.Emis) END
	,Mensaje_Emisor = REPLACE(TRIM(A.Mensaje),',',';')
	,Estado_CC = CASE WHEN TRIM(A.Sit) = 'GCMS' THEN A.Situa ELSE TRIM(A.Sit) END
	,Fecha_Estado_CC = CASE WHEN TRIM(A.Sit) = 'GCMS' AND TRIM(A.Gestor) = '0' THEN NULL 
							WHEN TRIM(A.Sit) = 'GCMS' THEN RIGHT((REPLICATE('0',(8-LEN((TRIM(A.Gestor)))))+(TRIM(A.Gestor))),4) + '-' + SUBSTRING((REPLICATE('0',(8-LEN((TRIM(A.Gestor)))))+(TRIM(A.Gestor))),3,2) + '-' + LEFT((REPLICATE('0',(8-LEN((TRIM(A.Gestor)))))+(TRIM(A.Gestor))),2)
							WHEN TRIM(A.Situa) = '0' THEN NULL
							WHEN TRIM(A.Situa) = ' ' THEN NULL
							WHEN LEFT((REPLICATE('0',(8-LEN((TRIM(A.Situa)))))+(TRIM(A.Situa))),4) NOT IN ('2022', '2021', '2023', '2024','2025') THEN RIGHT((REPLICATE('0',(8-LEN((TRIM(A.Situa)))))+(TRIM(A.Situa))),4) + '-' + SUBSTRING((REPLICATE('0',(8-LEN((TRIM(A.Situa)))))+(TRIM(A.Situa))),3,2) + '-' + LEFT((REPLICATE('0',(8-LEN((TRIM(A.Situa)))))+(TRIM(A.Situa))),2)
							ELSE CAST((REPLICATE('0',(8-LEN((TRIM(A.Situa)))))+(TRIM(A.Situa))) AS DATE)
							END
	,Gestor_Estado = CASE WHEN TRIM(A.Sit) = 'GCMS' THEN LEFT(A.ObserRegularizaciones,6) ELSE TRIM(A.Gestor) END
	,Obs_Gestor = REPLACE(TRIM(A.ObserRegularizaciones),',',';')
	,Importe_Soles = CONVERT(DECIMAL(18,2), CASE WHEN TRIM(A.Mone) = '604' THEN CONVERT(DECIMAL(18,2),TRIM(A.Importe)) ELSE CONVERT(DECIMAL(18,2),TRIM(A.Importe)) * 3.70 END,2)

FROM PRE_CARGA_AS400_CC_MC A
	LEFT JOIN dbo.PFYCC_GI_TRANS_CLAIMS_CASEFEELING_PREARB B ON LEFT(A.AcqRefData,23) = B.ARD
	LEFT JOIN dbo.PFYCC_GI_CARGA_AS400_MISCELANEOS C ON TRIM(A.Ingreso) = C.Ingreso
												AND TRIM(A.Fun) = C.Fun
												AND LEFT(A.Tarjeta,16) = C.Tarjeta
												AND TRIM(A.Mone) = C.Mone
												AND TRIM(A.Importe) = C.Importe
												AND LEFT(A.NroControl,10)= C.[Nro Control]
												AND TRIM(A.Razon) = TRIM(C.Razon)
												--AND TRIM(A.Gestor) = C.Gestor
	LEFT JOIN TRANSACCIONAL D ON TRIM(A.Tarjeta) = TRIM(D.Tarjeta)-- LEFT(TRIM(A.Tarjeta),15) = LEFT(TRIM(D.Tarjeta),15)
								AND LEFT(A.AcqRefData,23) = D.ARN_ARD
WHERE LEFT(A.Tarjeta,1) NOT IN ('3')
) 
--SELECT * FROM TABLA_INICIO
--WHERE ARD LIKE'%75301505174004842200014%'
--or ARD LIKE'%75301505234000247100013%'

--SELECT * 
--FROM  PFYCC_GI_CARGA_AS400_CONTRACARGOS_MASTERCARD 
--WHERE LEFT(AcqRefData,23) = '75301503358001738600011'

--SELECT DISTINCT Fun ,RIGHT(Razon,4)
--FROM  PFYCC_GI_CARGA_AS400_CONTRACARGOS_MASTERCARD
--WHERE NroControl IN ('','0000000001','0000000002','0000000003')

--SELECT DISTINCT NroControl
--FROM  PFYCC_GI_CARGA_AS400_CONTRACARGOS_MASTERCARD
--ORDER BY 1 ASC

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
,REPETIDOS_TARJ_ARD AS (
SELECT Tarjeta
	,ARD
	,Cantidad = COUNT(1)
FROM TABLA_INICIO
WHERE FUN IN ('450','453')
AND LEFT(Tarjeta,1) NOT IN ('3')
GROUP BY Tarjeta
	,ARD
)
--SELECT * FROM REPETIDOS_TARJ_ARD
--WHERE Tarjeta = '5208130012073429'

----------------------------------------------------------------------------
SELECT A.*
	,Contracargo = CASE WHEN Fun NOT IN ('450','453') THEN ''
						WHEN B.Cantidad = 1 THEN 'CC Unico'
						ELSE CONCAT(B.Cantidad,' CC Repetidos') END
INTO dbo.PFYCC_GI_TRANS_CONTRACARGOS_MASTERCARD
FROM TABLA_INICIO A
	LEFT JOIN REPETIDOS_TARJ_ARD B ON A.Tarjeta = B.Tarjeta
								AND A.ARD = B.ARD
--where a.ARD = '75301504197001377401252'
--WHERE A.Tarjeta = '5208130012073429'

--EXEC [dbo].[SP_PFYCC_GI_TRANS_CONTRACARGOS_MASTERCARD]

--PFYCC_GI_TRANS_CONTRACARGOS_MASTERCARD

--SELECT * FROM PFYCC_GI_TRANS_CONTRACARGOS_MASTERCARD
--WHERE Tarjeta LIKE '%5226925969196976%'
     
--SELECT LEN((TRIM(Cod_Estab)))
--FROM PFYCC_GI_CARGA_AS400_CONTRACARGOS_MASTERCARD
--WHERE Tarjeta LIKE '%5246010014653895%'

