USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_CARGA_FRAUDES_MONITOR_EMISOR]    Script Date: 25/02/2026 10:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_PFYCC_GI_CARGA_FRAUDES_MONITOR_EMISOR]
AS
	--------------------------DECLARACION DE VARIABLES--------------
	-- Opcional: fuerza lunes como primer día de la semana (recomendado)
	SET DATEFIRST 4;--------------------------
	-- Declaración de variables
	DECLARE @fecha1 DATE;
	DECLARE @fecha2 DATE;
	-- Asignar ayer a fecha1
	SET @fecha1 = CAST(DATEADD(DAY, 0, GETDATE()) AS DATE);
	-- Asignar valor a fecha2 dependiendo del día de la semana
	IF DATEPART(WEEKDAY, GETDATE()) = 1  -- 1 = Lunes con DATEFIRST = 1
	BEGIN
		SET @fecha2 = CAST(DATEADD(DAY, -8, GETDATE()) AS DATE); -- viernes
	END
	ELSE
	BEGIN
		SET @fecha2 = @fecha1;
	END;
	-- Mostrar resultados
	--SELECT @fecha1 AS Fecha1, @fecha2 AS Fecha2;
------------------------------------------------------------------
---------------------ALERTAS ROL EMISOR---------------------------
------------------------------------------------------------------

WITH
Fraude_Adquirente_filtrado as ( 

SELECT *
FROM (	SELECT FechaTrx = CAST(FechaTRX_ACF as date)
			,Bin = Bin_ACF
			,CodComercio = RIGHT(CodigoCIO_ACF,7)
			,CodAutorizacion = CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion_ACF))),Autorizacion_ACF)
			,Monto = MontoOrig_TRX_ACF
			,Moneda = Case When MONTOSOLES_ACF = MontoOrig_TRX_ACF Then '604' Else '840' END
			,VolFraude = CONVERT(decimal(18,2),MONTOSOLES_ACF)
			,EntryMode_ACF
			,Orden = ROW_NUMBER() OVER (PARTITION BY FechaTRX_ACF,HoraTRX_ACF, NumeroTrx_ACF, Tarjeta_SHA256_ACF, CodigoCIO_ACF , Autorizacion_ACF, MONTOSOLES_ACF ORDER BY FechaRecepcion ASC, ACF_FechaCierreCaso ASC, ACF_HoraFinCaso ASC)
			,Tarjetaregistro750_ACF
			,ACF_SubtipoResultadoCasodeInvestigacion	
			,ACF_TextoSubTipodeResultado
			,FechaRecepcion=CAST(FechaRecepcion as date)
			,ACF_UsuarioInvestigador
			,ACF_TextoAccionTomada
		FROM PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_EMISOR with(nolock)
		WHERE ACF_TipodeResultadoCasodeInvestigacion = '1'
			AND IndicadordeCorreccion_ACF in ('0','2')
			AND CodRpta_ACF = '000'
			AND Reverso_ACF = 'N'
	) A
WHERE Orden = 1
	AND FechaTrx >= '2021-01-01'

)

------------------------------------------------------------------
---------------------FRAUDES DE TC40------------------------------
------------------------------------------------------------------

,Fuente as ( 

----------ASBANC----------
SELECT DISTINCT
    Fecha = CAST(fecha_trx AS DATE),
    Tarjeta_Encriptada = concat(left(Tarjeta_Encriptada,6),'XXXXXX',right(Tarjeta_Encriptada,4)),
    sufix = RIGHT(Tarjeta_Encriptada, 4),
	CodComercio=CASE
		WHEN LEFT(Cod_comercio, 2) = '00' THEN SUBSTRING(Cod_comercio, 3, 7)
		WHEN cod_comercio='777779000000000' and localidad_comercio='Visa Direct' THEN right(identificacion_terminal,7)
		WHEN RIGHT(Cod_comercio, 5) = '00000' THEN LEFT(Cod_comercio, 7)
		ELSE Right(Cod_comercio, 7)
		END,
    bin,
	--Autorizacion,
	--Cod_RPTA,
	Autorizacion = 
		CASE 
			WHEN Cod_RPTA <> '00' THEN ''
			WHEN NOT (
				Importe_dolares <> '' 
				AND RTRIM(Autorizacion) <> '' 
				AND CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) NOT LIKE '%000000%'
			) 
			THEN '' 
			ELSE CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) 
		END,

    Acquirer_Reference_Number = '0000000000',
    Importe_Fraude = REPLACE(importe_dolares, ' ', '.'),
    Importe_Fraude_Soles = REPLACE(importe_dolares, ' ', '.'),
    Merchant_Name = nombre_del_comercio,
    Accion_Tomada = 'F:Asbanc',
	    Tipo_Fraude_Marcado,
    --Tipo_Fraude_Marcado ='Reportado x Asbanc',
    Fecha_Carga = 
        CASE 
            WHEN Fecha_Carga = '0' THEN '1900-01-01' 
            ELSE CAST(Fecha_Carga AS DATE) 
        END
--FROM DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2_DIARIO WITH(NOLOCK)
from PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2 with(nolock)
--where Fecha_Carga between '2025-07-17' and '2025-07-31'
--where Fecha_Carga between '2025-08-21' and '2025-09-02'
WHERE Fecha_Carga <> '0'
  AND ISDATE(Fecha_Carga) = 1
  AND CAST(Fecha_Carga AS DATE) BETWEEN @fecha2 AND @fecha1
--order by Fecha_Carga asc

UNION ALL

-------VISA Y MASTERCARD--------

Select distinct
	Fecha=CONVERT(date,[Fecha transacciÃ³n],103)
	,Tarjeta_Encriptada=concat(left(bin,6),'XXXXXX',right(sufix,4))
	--,Tarjeta_Encriptada
	,sufix
	,CodComercio= Establecimiento
	,bin
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion))),Autorizacion)
	,Acquirer_Reference_Number=[PAREN (ARD ARN)]
	,Importe_Fraude=cast(importe as float)--Fraud_Amount 
	,Importe_Fraude_Soles=Importe_soles
	,Merchant_Name =[nombre comer]
	--,Fraud_Type
	,Accion_Tomada=Fuente
	,Tipo_Fraude_Marcado=case when Tipo_Fraude='6' then 'F: Tarjeta no Presente  MOTO-Internet' 
							  when Tipo_Fraude='4' then 'F: Falsificacion/ Clonacion'
							  when Tipo_Fraude='1' then 'F: Tarjeta Robada'
							  when Tipo_Fraude='5' then 'MISCELLANEOUS'
							  when Tipo_Fraude='0' then 'F: Tarjeta Perdida'
							  when Tipo_Fraude='2' then 'F: Tarjeta nunca recibida del Emisor'
							  when Tipo_Fraude='3' then 'F: Fraud App' 
							  when Tipo_Fraude='D' then 'MANIPULATION OF ACCOUNT HOLDER-MANIPULACIÓN DEL TITULAR DE LA CUENTA'
							  when Tipo_Fraude='A' then 'INCORRECT PROCESSING -PROCESAMIENTO INCORRECTO'
							  when Tipo_Fraude='B' then 'ACCOUNT OR CREDENTIALS TAKEOVER -ADQUISICIÓN DE CUENTAS O CREDENCIALES'
							  END
	,Fecha_Carga=CONVERT(date,Fecha_Carga,103)
FROM PFYCC_GI_CARGA_TC40_TANSFORMADA
--where CONVERT(date,Fecha_Carga,103) between '2025-08-21' and '2025-09-02'
--where CONVERT(date,Fecha_Carga,103) between '2025-07-17' and '2025-07-31'
where CONVERT(date,Fecha_Carga,103) between @fecha2 and @fecha1
--order by Fecha_Carga asc
UNION ALL

----------------CONTRACARGOS----------

Select distinct
	Fecha=FechaTrx
	,Tarjeta_Encriptada=concat(left(Tarjeta,6),'XXXXXX',right(Tarjeta,4))
	,sufix=RIGHT(Tarjeta,4)
	,CodComercio= right(CodComercio,7)
	,bin=BIN
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(CodAutorizacion))),CodAutorizacion)
	,Acquirer_Reference_Number='0000000000'
	,Importe_Fraude=ImporteTrx
	,Importe_Fraude_Soles=ImporteSoles
	,Merchant_Name =NomComercio
	,Accion_Tomada='F:Contracargos'
	,Tipo_Fraude_Marcado='Reportado x Contracargos'
	,Fecha_Carga=FechaCC
from [dbo].[PFYCC_GI_REPORTE_RPA_LINEA] with(nolock)
--where FechaCC BETWEEN '2025-01-01' and '2025-02-28' and CategoriaCC ='Fraude'
where FechaCC between @fecha2 and @fecha1 and CategoriaCC ='Fraude'

),
TC40 AS (
SELECT *
FROM FUENTE
WHERE BIN in 
									(
									'521628',
									'522772',
									'545028',
									'449577',
									'475796',
									'477151',
									'489068',
									'512533',
									'529206',
									'550218',
									'905050',
									'546342',
									'231000',
									'231020',
									'233063',
									'234057',
									'234058',
									'400657',
									'486352',
									'486353',
									'483105'
									)
)
--SELECT * FROM TC40;
,
Deduplicado AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY Fecha, Tarjeta_Encriptada, CodComercio, Autorizacion
               ORDER BY 
                   CASE Accion_Tomada
                       WHEN 'F:TC40' THEN 1
					   WHEN 'F:Safe' THEN 2
                       WHEN 'F:Asbanc' THEN 3
                       WHEN 'F:Contracargos' THEN 4
                       ELSE 5
                   END
           ) AS rn
    FROM TC40
)
--SELECT * FROM TC40;
------------------------------------------------------------------
-----------BUSQUEDA DE FRAUDES TC40 EN ALERTAS--------------------
------------------------------------------------------------------

,TC40VSFRAUDE_ADQ_MONITOR AS (
Select A.*
	,RESULTADOFINAL= CASE WHEN B.CodAutorizacion IS NULL THEN 0 ELSE 1 END
	,B.ACF_SubtipoResultadoCasodeInvestigacion	
	,B.ACF_TextoSubTipodeResultado
	,B.FechaRecepcion
	,B.ACF_UsuarioInvestigador
	,B.ACF_TextoAccionTomada
FROM Deduplicado A
	LEFT join Fraude_Adquirente_filtrado B ON A.bin=B.BIN
										and  A.CodComercio=B.CodComercio
										and  RIGHT(A.sufix,4)=RIGHT(B.Tarjetaregistro750_ACF,4)
										AND  A.Autorizacion=B.CodAutorizacion
										WHERE A.rn = 1

)

------------------------------------------------------------------
--------------------INVESTIGADORES--------------------------------
------------------------------------------------------------------

,TABLA_MADRE_INVESTIGADORES AS ( 
    
SELECT C.Grupo
	,C.INVESTIGADOR
	,B.ACF_UsuarioInvestigador
FROM (
		SELECT A.ACF_UsuarioInvestigador 
		FROM (  
				SELECT ACF_UsuarioInvestigador
				FROM PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_ADQ with(nolock)
				GROUP BY ACF_UsuarioInvestigador
		
				UNION ALL
		
				SELECT ACF_UsuarioInvestigador
				FROM PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_EMISOR with(nolock)
				GROUP BY ACF_UsuarioInvestigador
			  ) A				
		GROUP BY ACF_UsuarioInvestigador
	  ) B
	LEFT JOIN [dbo].[PFYCC_GI_CARGA_MONITOR_DIM_INVESTIGADOR] C on B.ACF_UsuarioInvestigador = C.ACF_UsuarioInvestigador

)

------------------------------------------------------------------
------COMPLETANDO CAMPOS DEL MCESTAB Y REDUCIENDO DATOS-----------
------------------------------------------------------------------

,FINAL as ( 

SELECT A.Tarjeta_Encriptada
	,A.Fecha 
	,A.CodComercio
	,A.Merchant_Name
	,A.Autorizacion
	,A.Accion_Tomada
	,A.Tipo_Fraude_Marcado
	,MONTO_FRAUDE_SOLES= CONVERT(decimal(18,2),A.Importe_Fraude_Soles)
	,A.Fecha_Carga
	,A.RESULTADOFINAL
	--Detalle TC40
	,A.ACF_SubtipoResultadoCasodeInvestigacion	 
	,A.ACF_TextoSubTipodeResultado
	,FechaRecepcion=CAST(A.FechaRecepcion as date)
	,A.ACF_TextoAccionTomada
	,A.ACF_UsuarioInvestigador
	,B.INVESTIGADOR
	,B.Grupo
	,EXCLUSIONES= CASE WHEN (Merchant_Name<>'CORNERSHOP' AND (Merchant_Name NOT LIKE '%LIMA EXPRESA%') AND (Autorizacion NOT IN ('000000','0'))) THEN 'CASOS CON AUTORIZACION' ELSE 'CASOS SIN AUTORIZACION' END
	,C.SEGMENTO
	,flag_carga = case WHEN a.Fecha_Carga >= '2022-05-25' and c.segmento in ('Empresa','Negocio') then 1
					   WHEN a.Fecha_Carga >= '2022-05-25' and c.segmento not in ('Empresa','Negocio') and CONVERT(decimal(18,2),A.Importe_Fraude_Soles)>=150 then 1
					   WHEN a.Fecha_Carga < '2022-05-25' then 1
					   ELSE 0 end
FROM TC40VSFRAUDE_ADQ_MONITOR A
	LEFT JOIN TABLA_MADRE_INVESTIGADORES B ON A.ACF_UsuarioInvestigador=B.ACF_UsuarioInvestigador
	LEFT JOIN PFYCC_GI_TRANS_MCESTAB c ON A.CODCOMERCIO=c.codigo
WHERE a.RESULTADOFINAL=0
	AND Autorizacion<>'000000'
	AND Merchant_Name not like '%iata%' 
	AND Merchant_Name not like '%tc33%'
	AND Fecha_Carga >= '2023-07-01'

)

------------------------------------------------------------------
----------------RETIRANDO DUPLICADOS------------------------------
------------------------------------------------------------------

,RETIRANDO_DUPLICADOS as (

select distinct Tarjeta_Encriptada
	,Fecha
	,CodComercio
	,Merchant_Name
	,Autorizacion
	,Accion_Tomada
	,Tipo_Fraude_Marcado
	,MONTO_FRAUDE_SOLES
	,Fecha_Carga
	,RESULTADOFINAL
	,ACF_SubtipoResultadoCasodeInvestigacion
	,ACF_TextoSubTipodeResultado
	,FechaRecepcion
	,ACF_TextoAccionTomada
	,ACF_UsuarioInvestigador
	--,INVESTIGADOR
	,Grupo
	,EXCLUSIONES
	,SEGMENTO
	,flag_carga
FROM FINAL

)

------------------------------------------------------------------
------------------TABLA TRANSACCIONAL-----------------------------
------------------------------------------------------------------

,TRANSACCIONAL AS (
SELECT a.Tarjeta_SHA256_ACF
	,a.FechaTRX_ACF
	,a.HoraTRX_ACF
	,a.MontoOrigTRX_ACF
	,a.Autorizacion_ACF
	,a.CodRpta_ACF  
	,a.CodigoCIO_ACF
	,a.Tarjetaregistro750_ACF
	,a.NombreCIO_ACF
	,MCC_ACF = left(a.MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM ROL_EMISOR_2026 a
	LEFT JOIN PFYCC_GI_DIM_MCC b on a.MCC_ACF=b.mcc
where Reverso_ACF = 'N'
AND Autorizacion_ACF <> '' 
	AND CodRpta_ACF = '000' 

union all
SELECT a.Tarjeta_SHA256_ACF
	,a.FechaTRX_ACF
	,a.HoraTRX_ACF
	,a.MontoOrigTRX_ACF
	,a.Autorizacion_ACF
	,a.CodRpta_ACF  
	,a.CodigoCIO_ACF
	,a.Tarjetaregistro750_ACF
	,a.NombreCIO_ACF
	,MCC_ACF = left(a.MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM ROL_EMISOR_2025 a
	LEFT JOIN PFYCC_GI_DIM_MCC b on a.MCC_ACF=b.mcc
where Reverso_ACF = 'N'
AND Autorizacion_ACF <> '' 
	AND CodRpta_ACF = '000' 
		and Fecha_Recepcion between '2025-09-01' and '2025-12-31'
)

insert into dbo.PFYCC_CARGA_FRAUDES_EXTERNOS

SELECT C87872=1,
	C87873=cast(concat(CONVERT(varchar,getdate(),12),
	REPLICATE('0', (4 - LEN(ROW_NUMBER() OVER (PARTITION BY getdate() ORDER BY b.FechaTRX_ACF asc,b.HoraTRX_ACF ASC)))),
	ROW_NUMBER() OVER (PARTITION BY getdate() ORDER BY b.FechaTRX_ACF asc,b.HoraTRX_ACF ASC)) as bigint),
	C87874='IZIPAY',
	C87875='PERU',
	C87876=a.fecha_carga,
	C87877='00:00:01',
	C87878=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' else  '3' end,
	--C87878=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' when a.accion_tomada='F:Asbanc' then '3' else  '4' end,	
	C87879=0,--'000',--null,
	C87880=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' else  '3' end,
	--C87880=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' when a.accion_tomada='F:Asbanc' then '3' else  '4' end,
	C87881='REP',
	C87882='8750',
	C87883=b.IDCliente_ACF,
	C87884=b.Tarjeta_SHA256_ACF,
	C87885=CONVERT(varchar,b.FechaTRX_ACF,112),
	C87886=replace(b.HoraTRX_ACF,':',''),
	C87887=convert(numeric(14,2),b.MontoOrigTRX_ACF),
	C87888=b.Autorizacion_ACF,
	C87889=b.CodRpta_ACF,
	C87890=1,
	C87531=b.CodigoCIO_ACF,
	C87545=b.Tarjetaregistro750_ACF,
	C87418=b.NombreCIO_ACF,
	C87510=b.MCC_ACF,
	C87536=b.Bin_ACF,
	C87511=b.EntryMode_ACF,
	C87599=b.UCAF_ACF,
	C87532=b.Canal_ACF,
	C87530=b.IDComercio_ACF,
	C90066=0,--'000',--null,
	C90067=0,--'000',--null,
	C90068=0,--'000',--null,
	C90069=0,--'000',--null,
	C90070=0,--'000',--null,
	C90071=0,--'000',--null,
	C87891='800',
	C87892=a.Tipo_Fraude_Marcado,
	C87893=0,--'000',--null,
	C87894='001',
	C87895=cast(GETDATE() as date),
	C87896=cast(GETDATE() as time),
	C87897=0
FROM RETIRANDO_DUPLICADOS as a
	LEFT JOIN TRANSACCIONAL b on a.fecha=b.fechatrx_ACF
							 AND a.codcomercio = RIGHT(b.CodigoCIO_ACF,7) 
							 AND a.autorizacion=b.Autorizacion_ACF
							 AND b.Bin_ACF=left(a.tarjeta_encriptada,6) 
							 AND RIGHT(b.Tarjetaregistro750_ACF,4)=right(a.tarjeta_encriptada,4)						
where b.FechaTRX_ACF is not null;

