USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_STATUS_FRAUDES_MONITOR_ADQ]    Script Date: 25/02/2026 10:31:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[SP_PFYCC_GI_STATUS_FRAUDES_MONITOR_ADQ]
AS

--------------------------DECLARACION DE VARIABLES--------------
-- Opcional: fuerza lunes como primer día de la semana (recomendado)
SET DATEFIRST 1;--------------------------
-- Declaración de variables
DECLARE @fecha1 DATE;
DECLARE @fecha2 DATE;
-- Asignar ayer a fecha1
SET @fecha1 = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE);
-- Asignar valor a fecha2 dependiendo del día de la semana
IF DATEPART(WEEKDAY, GETDATE()) = 1  -- 1 = Lunes con DATEFIRST = 1
BEGIN
    SET @fecha2 = CAST(DATEADD(DAY, -3, GETDATE()) AS DATE); -- viernes
END
ELSE
BEGIN
    SET @fecha2 = @fecha1;
END
-- Mostrar resultados
--SELECT @fecha1 AS Fecha1, @fecha2 AS Fecha2;
------------------------LIMPIEZA DE TABLAS------------------------
TRUNCATE TABLE dbo.RT_GD_REPORTE_CONSOLIDADO_FRAUDES_FINAL;
------------------------------------------------------------------
---------------------ALERTAS ROL ADQ---------------------------
------------------------------------------------------------------
-------MARCACION ALERTA------------------------------------------
WITH Fraude_Adquirente_filtrado as ( 
SELECT *
FROM (	SELECT FechaTrx = CAST(FechaTRX_ACF as date)
			,Bin = Bin_ACF
			,CodComercio = RIGHT(CodigoCIO_ACF,7)
			,CodAutorizacion = CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion_ACF))),Autorizacion_ACF)
			,Monto = MontoOrig_TRX_ACF
			,Moneda = Case When MONTOSOLES_ACF = MontoOrig_TRX_ACF Then '604' Else '840' END
			,VolFraude = CONVERT(decimal(18,2),MONTOSOLES_ACF)
			,EntryMode_ACF
			,Orden = ROW_NUMBER() OVER (PARTITION BY FechaTRX_ACF,HoraTRX_ACF, NumeroTrx_ACF, Autorizacion_ACF, MONTOSOLES_ACF ORDER BY FechaRecepcion ASC, ACF_FechaCierreCaso ASC, ACF_HoraFinCaso ASC)
			,Tarjetaregistro750_ACF
			,ACF_SubtipoResultadoCasodeInvestigacion	
			,ACF_TextoSubTipodeResultado
			,FechaRecepcion=CAST(FechaRecepcion as date)
			,ACF_UsuarioInvestigador
			,ACF_TextoAccionTomada
		FROM DBO.PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_ADQ with(nolock)
		WHERE ACF_TipodeResultadoCasodeInvestigacion = '1'
			AND IndicadordeCorreccion_ACF in ('0','2')
			--AND CodRpta_ACF = '000'
			AND Reverso_ACF = 'N'
			and FechaTRX_ACF <> '####/##/##'
	) A
WHERE Orden = 1
	AND FechaTrx >= '2022-01-01'

)
---------------------FRAUDES DE TC40------------------------------

,TC40 as (
SELECT DISTINCT
    Fecha = CAST(fecha_trx AS DATE),
    Tarjeta_Encriptada = concat(left(Tarjeta_Encriptada,6),'XXXXXX',right(Tarjeta_Encriptada,4)),
    sufix = RIGHT(Tarjeta_Encriptada, 4),
	CodComercio=CASE
		WHEN LEFT(Cod_comercio, 2) = '00' THEN SUBSTRING(Cod_comercio, 3, 7)
		WHEN cod_comercio='777779000000000' and localidad_comercio='Visa Direct' THEN right(identificacion_terminal,7)
		WHEN RIGHT(Cod_comercio, 5) = '00000' THEN LEFT(Cod_comercio, 7)
		ELSE Right(Cod_comercio, 7)
		END,
    bin,
Autorizacion = 
    CASE 
        WHEN Cod_RPTA <> '00' THEN ''
        WHEN NOT (
            Importe_dolares <> '' 
            AND RTRIM(Autorizacion) <> '' 
            AND CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) NOT LIKE '%000000%'
        ) 
        THEN '' 
        ELSE CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) 
    END,
    Acquirer_Reference_Number = '0000000000',
    Importe_Fraude = REPLACE(importe_dolares, ' ', '.'),
    Importe_Fraude_Soles = REPLACE(Monto_Soles, ' ', '.'),
    Merchant_Name = nombre_del_comercio,
    Accion_Tomada = 'F:Asbanc',
	    Tipo_Fraude_Marcado,
    --Tipo_Fraude_Marcado ='Reportado x Asbanc',
    Fecha_Carga = 
        CASE 
            WHEN Fecha_Carga = '0' THEN '1900-01-01' 
            ELSE CAST(Fecha_Carga AS DATE) 
        END
FROM DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2_DIARIO WITH(NOLOCK)
--from DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2
--WHERE Fecha_Carga <> '0'
--  AND ISDATE(Fecha_Carga) = 1
--  AND CAST(Fecha_Carga AS DATE) BETWEEN @fecha2 AND @fecha1
UNION ALL
-------VISA Y MASTERCARD--------
Select distinct
	Fecha=CONVERT(date,[Fecha transacciÃ³n],103)
	,Tarjeta_Encriptada=concat(left(bin,6),'XXXXXX',right(Sufix,4))
	,sufix
	,CodComercio= Establecimiento
	,bin
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion))),Autorizacion)
	,Acquirer_Reference_Number=[PAREN (ARD ARN)]
	,Importe_Fraude=cast(importe as float)--Fraud_Amount 
	,Importe_Fraude_Soles=Importe_soles
	,Merchant_Name =[nombre comer]
	--,Fraud_Type
	,Accion_Tomada=Fuente
	,Tipo_Fraude_Marcado=case when Tipo_Fraude='6' then 'F: Tarjeta no Presente  MOTO-Internet' 
							  when Tipo_Fraude='4' then 'F: Falsificacion/ Clonacion'
							  when Tipo_Fraude='1' then 'F: Tarjeta Robada'
							  when Tipo_Fraude='5' then 'MISCELLANEOUS'
							  when Tipo_Fraude='0' then 'F: Tarjeta Perdida'
							  when Tipo_Fraude='2' then 'F: Tarjeta nunca recibida del Emisor'
							  when Tipo_Fraude='3' then 'F: Fraud App' 
							  when Tipo_Fraude='D' then 'MANIPULATION OF ACCOUNT HOLDER-MANIPULACIÓN DEL TITULAR DE LA CUENTA'
							  when Tipo_Fraude='A' then 'INCORRECT PROCESSING -PROCESAMIENTO INCORRECTO'
							  when Tipo_Fraude='B' then 'ACCOUNT OR CREDENTIALS TAKEOVER -ADQUISICIÓN DE CUENTAS O CREDENCIALES'
							  END
	,Fecha_Carga=CONVERT(date,Fecha_Carga,103)
	FROM PFYCC_GI_CARGA_TC40_TANSFORMADA_DIARIO
--FROM PFYCC_GI_CARGA_TC40_TANSFORMADA
--where CONVERT(date,[Fecha transacciÃ³n],103) between '2025-08-01' and '2026-01-29'
----where CONVERT(date,Fecha_Carga,103) between '2025-07-17' and '2025-07-31'
--where CONVERT(date,Fecha_Carga,103) between @fecha2 and @fecha1

UNION ALL
--------------CONTRACARGOS----------
Select distinct
	Fecha=FechaTrx
	,Tarjeta_Encriptada=concat(left(Tarjeta,6),'XXXXXX',right(Tarjeta,4))
	,sufix=RIGHT(Tarjeta,4)
	,CodComercio= right(CodComercio,7)
	,bin=BIN
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(CodAutorizacion))),CodAutorizacion)
	,Acquirer_Reference_Number='0000000000'
	,Importe_Fraude=ImporteTrx
	,Importe_Fraude_Soles=ImporteSoles
	,Merchant_Name =NomComercio
	,Accion_Tomada='F:Contracargos'
	,Tipo_Fraude_Marcado='Reportado x Contracargos'
	,Fecha_Carga=FechaCC
from [dbo].[PFYCC_GI_REPORTE_RPA_LINEA] with(nolock)
--where FechaCC = '2025-07-14' and CategoriaCC ='Fraude'
where FechaCC between @fecha2 and @fecha1 and CategoriaCC ='Fraude'
--where FechaTrx BETWEEN '2025-12-31' and '2026-01-29' and CategoriaCC ='Fraude'
),
Deduplicado AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY Fecha, Tarjeta_Encriptada, CodComercio, Autorizacion
               ORDER BY 
                   CASE Accion_Tomada
                       WHEN 'F:TC40' THEN 1
					   WHEN 'F:Safe' THEN 2
                       WHEN 'F:Asbanc' THEN 3
                       WHEN 'F:Contracargos' THEN 4
                       ELSE 5
                   END
           ) AS rn
    FROM TC40
)
--SELECT * FROM Deduplicado;
-----------BUSQUEDA DE FRAUDES TC40 EN ALERTAS--------------------

,TC40VSFRAUDE_ADQ_MONITOR AS (
Select A.*
	,RESULTADOFINAL= CASE WHEN B.CodAutorizacion IS NULL THEN 0 ELSE 1 END
	,B.ACF_SubtipoResultadoCasodeInvestigacion	
	,B.ACF_TextoSubTipodeResultado
	,B.FechaRecepcion
	,B.ACF_UsuarioInvestigador
	,B.ACF_TextoAccionTomada
FROM Deduplicado A
	LEFT join Fraude_Adquirente_filtrado B ON A.CodComercio=B.CodComercio
										and  A.bin=B.BIN
										AND (
										    (LEFT(A.Tarjeta_Encriptada,2) = '37' AND RIGHT(A.sufix,3) = RIGHT(B.Tarjetaregistro750_ACF,3))
												OR
												(LEFT(A.Tarjeta_Encriptada,2) = '36' AND RIGHT(A.sufix,2) = RIGHT(B.Tarjetaregistro750_ACF,2)
												OR
												(LEFT(A.Tarjeta_Encriptada,2) NOT IN ('37') AND LEFT(A.Tarjeta_Encriptada,2) <> '36' AND RIGHT(A.sufix,4) = RIGHT(B.Tarjetaregistro750_ACF,4))
										))
										AND  A.Autorizacion=B.CodAutorizacion
										--AND CAST(A.Fecha as date)=B.FechaTrx

WHERE A.rn = 1 
--and A.Fecha between'2025-08-01' and '2026-02-05'
)
INSERT INTO RT_GD_STATUS_CONSOLIDADO_FRAUDES (Fecha,Tarjeta_Encriptada,	CodComercio,Autorizacion,MONTO_FRAUDE_SOLES,Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado, Fecha_Envio,Entidad,Proceso	)
Select Fecha,
    Tarjeta_Encriptada= case when LEFT(Tarjeta_Encriptada,2) = '37' then LEFT(Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(Tarjeta_Encriptada,3)
						when LEFT(Tarjeta_Encriptada,2) = '36' then LEFT(Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(Tarjeta_Encriptada,2)
						else LEFT(Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(Tarjeta_Encriptada,4) end,
		CodComercio, 
		Autorizacion,
		Importe_Fraude_Soles,	
		Merchant_Name,	
		Accion_Tomada,	
		Tipo_Fraude_Marcado,	
		Fecha_Carga,Estado='Filtro: Marcado Alerta',
		--Fecha_Carga,Estado='Segundo_Reproceso_Filtro: Marcado Alerta',
		Fecha_Envio =CONVERT(VARCHAR(10), GETDATE(), 120),
				Entidad = 'ADQ',
					Proceso = 'Carga Diaria'
					--Proceso = 'Reproceso_ultimos_6meses'
from TC40VSFRAUDE_ADQ_MONITOR
where RESULTADOFINAL=1;

-------CRUCE TRANSACCIONAL------------------------------------------

WITH Fraude_Adquirente_filtrado as ( 

SELECT *
FROM (	SELECT FechaTrx = CAST(FechaTRX_ACF as date)
			,Bin = Bin_ACF
			,CodComercio = RIGHT(CodigoCIO_ACF,7)
			,CodAutorizacion = CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion_ACF))),Autorizacion_ACF)
			,Monto = MontoOrig_TRX_ACF
			,Moneda = Case When MONTOSOLES_ACF = MontoOrig_TRX_ACF Then '604' Else '840' END
			,VolFraude = CONVERT(decimal(18,2),MONTOSOLES_ACF)
			,EntryMode_ACF
			,Orden = ROW_NUMBER() OVER (PARTITION BY FechaTRX_ACF,HoraTRX_ACF, NumeroTrx_ACF, Autorizacion_ACF, MONTOSOLES_ACF ORDER BY FechaRecepcion ASC, ACF_FechaCierreCaso ASC, ACF_HoraFinCaso ASC)
			,Tarjetaregistro750_ACF
			,ACF_SubtipoResultadoCasodeInvestigacion	
			,ACF_TextoSubTipodeResultado
			,FechaRecepcion=CAST(FechaRecepcion as date)
			,ACF_UsuarioInvestigador
			,ACF_TextoAccionTomada
		FROM DBO.PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_ADQ with(nolock)
		WHERE ACF_TipodeResultadoCasodeInvestigacion = '1'
			AND IndicadordeCorreccion_ACF in ('0','2')
			--AND CodRpta_ACF = '000'
			AND Reverso_ACF = 'N'
			and FechaTRX_ACF <> '####/##/##'
	) A
WHERE Orden = 1
	AND FechaTrx >= '2022-01-01'

)

,TC40 as (
SELECT DISTINCT
    Fecha = CAST(fecha_trx AS DATE),
    Tarjeta_Encriptada = concat(left(Tarjeta_Encriptada,6),'XXXXXX',right(Tarjeta_Encriptada,4)),
    sufix = RIGHT(Tarjeta_Encriptada, 4),
	CodComercio=CASE
		WHEN LEFT(Cod_comercio, 2) = '00' THEN SUBSTRING(Cod_comercio, 3, 7)
		WHEN cod_comercio='777779000000000' and localidad_comercio='Visa Direct' THEN right(identificacion_terminal,7)
		WHEN RIGHT(Cod_comercio, 5) = '00000' THEN LEFT(Cod_comercio, 7)
		ELSE Right(Cod_comercio, 7)
		END,
    bin,
Autorizacion = 
    CASE 
        WHEN Cod_RPTA <> '00' THEN ''
        WHEN NOT (
            Importe_dolares <> '' 
            AND RTRIM(Autorizacion) <> '' 
            AND CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) NOT LIKE '%000000%'
        ) 
        THEN '' 
        ELSE CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) 
    END,
    Acquirer_Reference_Number = '0000000000',
    Importe_Fraude = REPLACE(importe_dolares, ' ', '.'),
    Importe_Fraude_Soles = REPLACE(Monto_Soles, ' ', '.'),
    Merchant_Name = nombre_del_comercio,
    Accion_Tomada = 'F:Asbanc',
	    Tipo_Fraude_Marcado,
    --Tipo_Fraude_Marcado ='Reportado x Asbanc',
    Fecha_Carga = 
        CASE 
            WHEN Fecha_Carga = '0' THEN '1900-01-01' 
            ELSE CAST(Fecha_Carga AS DATE) 
        END
FROM DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2_DIARIO WITH(NOLOCK)
--from DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2
--WHERE Fecha_Carga <> '0'
--  AND ISDATE(Fecha_Carga) = 1
--  AND CAST(Fecha_Carga AS DATE) BETWEEN @fecha2 AND @fecha1
UNION ALL
-------VISA Y MASTERCARD--------
Select distinct
	Fecha=CONVERT(date,[Fecha transacciÃ³n],103)
	,Tarjeta_Encriptada=concat(left(bin,6),'XXXXXX',right(Sufix,4))
	,sufix
	,CodComercio= Establecimiento
	,bin
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion))),Autorizacion)
	,Acquirer_Reference_Number=[PAREN (ARD ARN)]
	,Importe_Fraude=cast(importe as float)--Fraud_Amount 
	,Importe_Fraude_Soles=Importe_soles
	,Merchant_Name =[nombre comer]
	--,Fraud_Type
	,Accion_Tomada=Fuente
	,Tipo_Fraude_Marcado=case when Tipo_Fraude='6' then 'F: Tarjeta no Presente  MOTO-Internet' 
							  when Tipo_Fraude='4' then 'F: Falsificacion/ Clonacion'
							  when Tipo_Fraude='1' then 'F: Tarjeta Robada'
							  when Tipo_Fraude='5' then 'MISCELLANEOUS'
							  when Tipo_Fraude='0' then 'F: Tarjeta Perdida'
							  when Tipo_Fraude='2' then 'F: Tarjeta nunca recibida del Emisor'
							  when Tipo_Fraude='3' then 'F: Fraud App' 
							  when Tipo_Fraude='D' then 'MANIPULATION OF ACCOUNT HOLDER-MANIPULACIÓN DEL TITULAR DE LA CUENTA'
							  when Tipo_Fraude='A' then 'INCORRECT PROCESSING -PROCESAMIENTO INCORRECTO'
							  when Tipo_Fraude='B' then 'ACCOUNT OR CREDENTIALS TAKEOVER -ADQUISICIÓN DE CUENTAS O CREDENCIALES'
							  END
	,Fecha_Carga=CONVERT(date,Fecha_Carga,103)
FROM PFYCC_GI_CARGA_TC40_TANSFORMADA_DIARIO
--	FROM PFYCC_GI_CARGA_TC40_TANSFORMADA
--	--where CONVERT(date,[Fecha transacciÃ³n],103) between '2025-08-01' and '2026-01-29'
----	----where CONVERT(date,Fecha_Carga,103) between '2025-07-17' and '2025-07-31'
--	where CONVERT(date,Fecha_Carga,103) between @fecha2 and @fecha1

UNION ALL
--------------CONTRACARGOS----------
Select distinct
	Fecha=FechaTrx
	,Tarjeta_Encriptada=concat(left(Tarjeta,6),'XXXXXX',right(Tarjeta,4))
	,sufix=RIGHT(Tarjeta,4)
	,CodComercio= right(CodComercio,7)
	,bin=BIN
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(CodAutorizacion))),CodAutorizacion)
	,Acquirer_Reference_Number='0000000000'
	,Importe_Fraude=ImporteTrx
	,Importe_Fraude_Soles=ImporteSoles
	,Merchant_Name =NomComercio
	,Accion_Tomada='F:Contracargos'
	,Tipo_Fraude_Marcado='Reportado x Contracargos'
	,Fecha_Carga=FechaCC
from [dbo].[PFYCC_GI_REPORTE_RPA_LINEA] with(nolock)
--where FechaCC = '2025-07-14' and CategoriaCC ='Fraude'
where FechaCC between @fecha2 and @fecha1 and CategoriaCC ='Fraude'
--where FechaTrx BETWEEN '2025-12-31' and '2026-01-29' and CategoriaCC ='Fraude'

),
Deduplicado AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY Fecha, Tarjeta_Encriptada, CodComercio, Autorizacion
               ORDER BY 
                   CASE Accion_Tomada
                       WHEN 'F:TC40' THEN 1
					   WHEN 'F:Safe' THEN 2
                       WHEN 'F:Asbanc' THEN 3
                       WHEN 'F:Contracargos' THEN 4
                       ELSE 5
                   END
           ) AS rn
    FROM TC40
)
-----------BUSQUEDA DE FRAUDES TC40 EN ALERTAS--------------------

,TC40VSFRAUDE_ADQ_MONITOR AS (
Select A.*
	,RESULTADOFINAL= CASE WHEN B.CodAutorizacion IS NULL THEN 0 ELSE 1 END
	,B.ACF_SubtipoResultadoCasodeInvestigacion	
	,B.ACF_TextoSubTipodeResultado
	,B.FechaRecepcion
	,B.ACF_UsuarioInvestigador
	,B.ACF_TextoAccionTomada
FROM Deduplicado A
	LEFT join Fraude_Adquirente_filtrado B ON A.CodComercio=B.CodComercio
										and  A.bin=B.BIN
										AND (
										    (LEFT(A.Tarjeta_Encriptada,2) = '37' AND RIGHT(A.sufix,3) = RIGHT(B.Tarjetaregistro750_ACF,3))
												OR
												(LEFT(A.Tarjeta_Encriptada,2) = '36' AND RIGHT(A.sufix,2) = RIGHT(B.Tarjetaregistro750_ACF,2)
												OR
												(LEFT(A.Tarjeta_Encriptada,2) NOT IN ('37') AND LEFT(A.Tarjeta_Encriptada,2) <> '36' AND RIGHT(A.sufix,4) = RIGHT(B.Tarjetaregistro750_ACF,4))
										))
										AND  A.Autorizacion=B.CodAutorizacion
										--AND CAST(A.Fecha as date)=B.FechaTrx
							WHERE A.rn = 1
							--and A.Fecha between'2025-08-01' and '2026-02-05'
)
,TABLA_MADRE_INVESTIGADORES AS (    
SELECT C.Grupo
	,C.INVESTIGADOR
	,B.ACF_UsuarioInvestigador
FROM (
		SELECT A.ACF_UsuarioInvestigador 
		FROM (  
				SELECT ACF_UsuarioInvestigador
				FROM DBO.PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_ADQ with(nolock)
				GROUP BY ACF_UsuarioInvestigador
		
				UNION ALL
		
				SELECT ACF_UsuarioInvestigador
				FROM DBO.PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_EMISOR with(nolock)
				GROUP BY ACF_UsuarioInvestigador
			  ) A				
		GROUP BY ACF_UsuarioInvestigador
	  ) B
	LEFT JOIN [dbo].[PFYCC_GI_CARGA_MONITOR_DIM_INVESTIGADOR] C with(nolock) on B.ACF_UsuarioInvestigador = C.ACF_UsuarioInvestigador
)

,FINAL as ( 
SELECT A.Tarjeta_Encriptada
	,A.Fecha 
	,A.CodComercio
	,A.Merchant_Name
	,A.Autorizacion
	,A.Accion_Tomada
	,A.Tipo_Fraude_Marcado
	,MONTO_FRAUDE_SOLES= CONVERT(decimal(18,2),A.Importe_Fraude_Soles)
	,A.Fecha_Carga
	,A.RESULTADOFINAL
	,A.ACF_SubtipoResultadoCasodeInvestigacion	 
	,A.ACF_TextoSubTipodeResultado
	,FechaRecepcion=CAST(A.FechaRecepcion as date)
	,A.ACF_TextoAccionTomada
	,A.ACF_UsuarioInvestigador
	,B.INVESTIGADOR
	,B.Grupo
	,EXCLUSIONES= CASE WHEN (Merchant_Name<>'CORNERSHOP' AND (Merchant_Name NOT LIKE '%LIMA EXPRESA%') AND (Autorizacion NOT IN ('000000','0'))) THEN 'CASOS CON AUTORIZACION' ELSE 'CASOS SIN AUTORIZACION' END
	,C.SEGMENTO
	,flag_carga = case WHEN a.Fecha_Carga >= '2022-05-25' and c.segmento in ('Empresa','Negocio') then 1
					   WHEN a.Fecha_Carga >= '2022-05-25' and c.segmento not in ('Empresa','Negocio') and CONVERT(decimal(18,2),A.Importe_Fraude_Soles)>=150 then 1
					   WHEN a.Fecha_Carga < '2022-05-25' then 1
					   ELSE 0 end
FROM TC40VSFRAUDE_ADQ_MONITOR A
	LEFT JOIN TABLA_MADRE_INVESTIGADORES B ON A.ACF_UsuarioInvestigador=B.ACF_UsuarioInvestigador
	LEFT JOIN DBO.PFYCC_GI_TRANS_MCESTAB c with(nolock) ON A.CODCOMERCIO=c.codigo
WHERE a.RESULTADOFINAL=0
	AND Autorizacion<>'000000'
	AND Merchant_Name not like '%iata%' 
	AND Merchant_Name not like '%tc33%'

)
INSERT INTO dbo.RT_GD_REPORTE_CONSOLIDADO_FRAUDES_FINAL (
    Tarjeta_Encriptada,
    Fecha,
    CodComercio,
    Merchant_Name,
    Autorizacion,
    Accion_Tomada,
    Tipo_Fraude_Marcado,
    MONTO_FRAUDE_SOLES,
    Fecha_Carga,
    RESULTADOFINAL,
    ACF_SubtipoResultadoCasodeInvestigacion,
    ACF_TextoSubTipodeResultado,
    FechaRecepcion,
    ACF_TextoAccionTomada,
    ACF_UsuarioInvestigador,
    INVESTIGADOR,
    Grupo,
    EXCLUSIONES,
    SEGMENTO,
    flag_carga
)
SELECT 
    LEFT(Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(Tarjeta_Encriptada,4) AS Tarjeta_Encriptada,
    Fecha,
    CodComercio,
    Merchant_Name,
    Autorizacion,
    Accion_Tomada,
    Tipo_Fraude_Marcado,
    MONTO_FRAUDE_SOLES,
    Fecha_Carga,
    RESULTADOFINAL,
    ACF_SubtipoResultadoCasodeInvestigacion,
    ACF_TextoSubTipodeResultado,
    FechaRecepcion,
    ACF_TextoAccionTomada,
    ACF_UsuarioInvestigador,
    INVESTIGADOR,
    Grupo,
    EXCLUSIONES,
    SEGMENTO,
    flag_carga
--INTO DBO.RT_GD_REPORTE_CONSOLIDADO_FRAUDES_FINAL
FROM FINAL;
--------ENVIADO----------------------------
with enviados as (
SELECT DISTINCT
	--Fecha=B.C87885,
	Fecha=CONVERT(date, STUFF(STUFF(B.C87885, 5, 0, '-'), 8, 0, '-')),
    Tarjeta_Encriptada=B.C87545,
	CodComercio = RIGHT(B.C87531,7),
	Autorizacion=B.C87888,
	[MONTO_FRAUDE_SOLES]=B.C87887,
	A.[Merchant_Name],
	Accion_Tomada=case when B.C87891='210' then 'F:TC40' when B.C87891='211' then 'F:Safe' when B.C87891='212' then 'F:Asbanc' else  'F:Contracargos' end,
	Tipo_Fraude_Marcado=B.C87892,
	Fecha_Carga= B.C87876,
	--Estado='Segundo_Reproceso_Enviado',
			Estado='Enviado',
	Fecha_Envio =CONVERT(VARCHAR(10), GETDATE(), 120),
	Entidad='ADQ',
	Proceso = 	'Carga Diaria'
	--Proceso = 	'Reproceso_ultimos_6meses'
FROM (
	SELECT distinct *
	FROM dbo.RT_GD_REPORTE_CONSOLIDADO_FRAUDES_FINAL
) A
INNER JOIN (
--LEFT JOIN (
	SELECT distinct *
	--FROM PFYCC_CARGA_FRAUDES_EXTERNOS
	FROM prueba_safe_tc40_plusti_prueba
	where C87882='8751'
	--	SELECT distinct *
	--FROM dbo.RT_GD_REPORTE_CONSOLIDADO_FRAUDES_FINAL
) B
	ON A.CodComercio = RIGHT(B.C87531,7)
	AND A.Autorizacion = B.C87888
	AND LEFT(A.Tarjeta_Encriptada,6) = B.C87536
	AND 
	(
		(LEFT(A.Tarjeta_Encriptada,2) = '37' AND LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,3) = B.C87545)
		OR
		(LEFT(A.Tarjeta_Encriptada,2) = '36' AND LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,2) = B.C87545)
		OR
		(LEFT(A.Tarjeta_Encriptada,2) NOT IN ('37') AND LEFT(A.Tarjeta_Encriptada,2) <> '36' AND LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,4) = B.C87545)
	)
	AND REPLACE(A.fecha, '-', '') = B.C87885

)
INSERT INTO RT_GD_STATUS_CONSOLIDADO_FRAUDES (Fecha,Tarjeta_Encriptada,	CodComercio,Autorizacion,MONTO_FRAUDE_SOLES,Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado, Fecha_Envio,Entidad,Proceso	)
Select Fecha,Tarjeta_Encriptada,	CodComercio, Autorizacion,[MONTO_FRAUDE_SOLES],	Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado,Fecha_Envio,Entidad,Proceso
from enviados;

With no_enviados as (
SELECT DISTINCT
	A.[Fecha],
    Tarjeta_Encriptada= case when LEFT(A.Tarjeta_Encriptada,2) = '37' then LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,3)
						when LEFT(A.Tarjeta_Encriptada,2) = '36' then LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,2)
						else LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,4) end,
	A.[CodComercio],
		A.[Autorizacion],
	A.[MONTO_FRAUDE_SOLES],
	A.[Merchant_Name],
	A.[Accion_Tomada],
	A.[Tipo_Fraude_Marcado],
	A.[Fecha_Carga],
	Estado='Filtro: Cruce Transaccional',
	--Estado='Segundo_Reproceso_Filtro: Cruce Transaccional',
	Fecha_Envio =CONVERT(VARCHAR(10), GETDATE(), 120),
	Entidad = 'ADQ',
	Proceso = 	'Carga Diaria'
	--Proceso = 	'Reproceso_ultimos_6meses'
FROM (
	SELECT distinct *
	FROM dbo.RT_GD_REPORTE_CONSOLIDADO_FRAUDES_FINAL
) A

LEFT JOIN (
	SELECT distinct *
	--FROM PFYCC_CARGA_FRAUDES_EXTERNOS
	FROM prueba_safe_tc40_plusti_prueba
	where C87882='8751'
) B
	ON A.CodComercio = RIGHT(B.C87531,7)
	AND A.Autorizacion = B.C87888
	AND LEFT(A.Tarjeta_Encriptada,6) = B.C87536
	AND 
	(
		(LEFT(A.Tarjeta_Encriptada,2) = '37' AND LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,3) = B.C87545)
		OR
		(LEFT(A.Tarjeta_Encriptada,2) = '36' AND LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,2) = B.C87545)
		OR
		(LEFT(A.Tarjeta_Encriptada,2) NOT IN ('37') AND LEFT(A.Tarjeta_Encriptada,2) <> '36' AND LEFT(A.Tarjeta_Encriptada,6) + 'XXXXXX' + RIGHT(A.Tarjeta_Encriptada,4) = B.C87545)
	)
	AND REPLACE(A.fecha, '-', '') = B.C87885
WHERE B.C87531 IS NULL
)
INSERT INTO RT_GD_STATUS_CONSOLIDADO_FRAUDES (Fecha,Tarjeta_Encriptada,	CodComercio,Autorizacion,MONTO_FRAUDE_SOLES,Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado, Fecha_Envio,Entidad,Proceso	)
Select Fecha,Tarjeta_Encriptada,	CodComercio, Autorizacion,[MONTO_FRAUDE_SOLES],	Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado,Fecha_Envio,Entidad,Proceso
from no_enviados;



