USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_CARGA_FRAUDES_MONITOR]    Script Date: 25/02/2026 10:19:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_PFYCC_GI_CARGA_FRAUDES_MONITOR]
AS

	----------------------------DECLARACION DE VARIABLES--------------
	---- Opcional: fuerza lunes como primer día de la semana (recomendado)
	SET DATEFIRST 1;
	-- Declaración de variables
	DECLARE @fecha1 DATE;
	DECLARE @fecha2 DATE;
	-- Asignar ayer a fecha1
	SET @fecha1 = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE);
	-- Asignar valor a fecha2 dependiendo del día de la semana
	IF DATEPART(WEEKDAY, GETDATE()) = 1  -- 1 = Lunes con DATEFIRST = 1
	BEGIN
		SET @fecha2 = CAST(DATEADD(DAY, -3, GETDATE()) AS DATE); -- viernes
	END
	ELSE
	BEGIN
		SET @fecha2 = @fecha1;
	END;
	 --Mostrar resultados
	--SELECT @fecha1 AS Fecha1, @fecha2 AS Fecha2;
--Paso 1
insert into DBO.PFYCC_CARGA_FRAUDES_EXTERNOS_BACKUP
select * from DBO.PFYCC_CARGA_FRAUDES_EXTERNOS;
----order by 2;

----Paso 2
truncate table DBO.PFYCC_CARGA_FRAUDES_EXTERNOS;
truncate table DBO.prueba_safe_tc40_plusti_prueba;

------------------------------------------------------------------
---------------------ALERTAS ROL ADQ---------------------------
------------------------------------------------------------------

WITH
Fraude_Adquirente_filtrado as ( 

SELECT *
FROM (	SELECT FechaTrx = CAST(FechaTRX_ACF as date)
			,Bin = Bin_ACF
			,CodComercio = RIGHT(CodigoCIO_ACF,7)
			,CodAutorizacion = CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion_ACF))),Autorizacion_ACF)
			,Monto = MontoOrig_TRX_ACF
			,Moneda = Case When MONTOSOLES_ACF = MontoOrig_TRX_ACF Then '604' Else '840' END
			,VolFraude = CONVERT(decimal(18,2),MONTOSOLES_ACF)
			,EntryMode_ACF
			,Orden = ROW_NUMBER() OVER (PARTITION BY FechaTRX_ACF,HoraTRX_ACF, NumeroTrx_ACF, Autorizacion_ACF, MONTOSOLES_ACF ORDER BY FechaRecepcion ASC, ACF_FechaCierreCaso ASC, ACF_HoraFinCaso ASC)
			,Tarjetaregistro750_ACF
			,ACF_SubtipoResultadoCasodeInvestigacion	
			,ACF_TextoSubTipodeResultado
			,FechaRecepcion=CAST(FechaRecepcion as date)
			,ACF_UsuarioInvestigador
			,ACF_TextoAccionTomada
		FROM DBO.PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_ADQ with(nolock)
		WHERE ACF_TipodeResultadoCasodeInvestigacion = '1'
			AND IndicadordeCorreccion_ACF in ('0','2')
			--AND CodRpta_ACF = '000'
			AND Reverso_ACF = 'N'
			and FechaTRX_ACF <> '####/##/##'
	) A
WHERE Orden = 1
	AND FechaTrx >= '2022-01-01'

)

------------------------------------------------------------------
---------------------FRAUDES DE TC40------------------------------
------------------------------------------------------------------

,TC40 as ( 
--------ASBANC----------
SELECT DISTINCT
    Fecha = CAST(fecha_trx AS DATE),
    Tarjeta_Encriptada = concat(left(Tarjeta_Encriptada,6),'XXXXXX',right(Tarjeta_Encriptada,4)),
    sufix = RIGHT(Tarjeta_Encriptada, 4),
	CodComercio=CASE
		WHEN LEFT(Cod_comercio, 2) = '00' THEN SUBSTRING(Cod_comercio, 3, 7)
		WHEN cod_comercio='777779000000000' and localidad_comercio='Visa Direct' THEN right(identificacion_terminal,7)
		WHEN RIGHT(Cod_comercio, 5) = '00000' THEN LEFT(Cod_comercio, 7)
		ELSE Right(Cod_comercio, 7)
		END,
    bin,
Autorizacion = 
    CASE 
        WHEN Cod_RPTA <> '00' THEN ''
        WHEN NOT (
            Importe_dolares <> '' 
            AND RTRIM(Autorizacion) <> '' 
            AND CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) NOT LIKE '%000000%'
        ) 
        THEN '' 
        ELSE CONCAT(REPLICATE('0', 6 - LEN(RTRIM(Autorizacion))), Autorizacion) 
    END,
    Acquirer_Reference_Number = '0000000000',
    Importe_Fraude = REPLACE(importe_dolares, ' ', '.'),
    Importe_Fraude_Soles = REPLACE(Monto_Soles, ' ', '.'),
    Merchant_Name = nombre_del_comercio,
    Accion_Tomada = 'F:Asbanc',
	    Tipo_Fraude_Marcado,
    --Tipo_Fraude_Marcado ='Reportado x Asbanc',
    Fecha_Carga = 
        CASE 
            WHEN Fecha_Carga = '0' THEN '1900-01-01' 
            ELSE CAST(Fecha_Carga AS DATE) 
        END
FROM DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2_DIARIO 
--from DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2
--WHERE Fecha_Carga <> '0'
--  AND ISDATE(Fecha_Carga) = 1
--  AND CAST(Fecha_Carga AS DATE) BETWEEN @fecha2 AND @fecha1
UNION ALL
-------VISA Y MASTERCARD--------
Select distinct
	Fecha=CONVERT(date,[Fecha transacciÃ³n],103)
	,Tarjeta_Encriptada=concat(left(bin,6),'XXXXXX',right(Sufix,4))
	,sufix
	,CodComercio= Establecimiento
	,bin
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(Autorizacion))),Autorizacion)
	,Acquirer_Reference_Number=[PAREN (ARD ARN)]
	,Importe_Fraude=cast(importe as float)--Fraud_Amount 
	,Importe_Fraude_Soles=Importe_soles
	,Merchant_Name =[nombre comer]
	--,Fraud_Type
	,Accion_Tomada=Fuente
	,Tipo_Fraude_Marcado=case when Tipo_Fraude='6' then 'F: Tarjeta no Presente  MOTO-Internet' 
							  when Tipo_Fraude='4' then 'F: Falsificacion/ Clonacion'
							  when Tipo_Fraude='1' then 'F: Tarjeta Robada'
							  when Tipo_Fraude='5' then 'MISCELLANEOUS'
							  when Tipo_Fraude='0' then 'F: Tarjeta Perdida'
							  when Tipo_Fraude='2' then 'F: Tarjeta nunca recibida del Emisor'
							  when Tipo_Fraude='3' then 'F: Fraud App' 
							  when Tipo_Fraude='D' then 'MANIPULATION OF ACCOUNT HOLDER-MANIPULACIÓN DEL TITULAR DE LA CUENTA'
							  when Tipo_Fraude='A' then 'INCORRECT PROCESSING -PROCESAMIENTO INCORRECTO'
							  when Tipo_Fraude='B' then 'ACCOUNT OR CREDENTIALS TAKEOVER -ADQUISICIÓN DE CUENTAS O CREDENCIALES'
							  END
	,Fecha_Carga=CONVERT(date,Fecha_Carga,103)
FROM PFYCC_GI_CARGA_TC40_TANSFORMADA_DIARIO
	--FROM PFYCC_GI_CARGA_TC40_TANSFORMADA
	--where CONVERT(date,[Fecha transacciÃ³n],103) between '2025-08-01' and '2026-01-29'
--	----where CONVERT(date,Fecha_Carga,103) between '2025-07-17' and '2025-07-31'
	--where CONVERT(date,Fecha_Carga,103) between @fecha2 and @fecha1

UNION ALL
--------------CONTRACARGOS----------
Select distinct
	Fecha=FechaTrx
	,Tarjeta_Encriptada=concat(left(Tarjeta,6),'XXXXXX',right(Tarjeta,4))
	,sufix=RIGHT(Tarjeta,4)
	,CodComercio= right(CodComercio,7)
	,bin=BIN
	,Autorizacion=CONCAT(REPLICATE('0',6-LEN(RTRIM(CodAutorizacion))),CodAutorizacion)
	,Acquirer_Reference_Number='0000000000'
	,Importe_Fraude=ImporteTrx
	,Importe_Fraude_Soles=ImporteSoles
	,Merchant_Name =NomComercio
	,Accion_Tomada='F:Contracargos'
	,Tipo_Fraude_Marcado='Reportado x Contracargos'
	,Fecha_Carga=FechaCC
from [dbo].PFYCC_GI_REPORTE_RPA_LINEA with(nolock)
--where FechaCC = '2025-07-14' and CategoriaCC ='Fraude'
where FechaCC between @fecha2 and @fecha1 and CategoriaCC ='Fraude'
--where FechaTrx BETWEEN '2025-12-31' and '2026-01-29' and CategoriaCC ='Fraude'
),
Deduplicado AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY Fecha, Tarjeta_Encriptada, CodComercio, Autorizacion
               ORDER BY 
                   CASE Accion_Tomada
                       WHEN 'F:TC40' THEN 1
					   WHEN 'F:Safe' THEN 2
                       WHEN 'F:Asbanc' THEN 3
                       WHEN 'F:Contracargos' THEN 4
                       ELSE 5
                   END
           ) AS rn
    FROM TC40
)

--SELECT *
--FROM Deduplicado
--WHERE rn = 1;
------------------------------------------------------------------
-----------BUSQUEDA DE FRAUDES TC40 EN ALERTAS--------------------
------------------------------------------------------------------

,TC40VSFRAUDE_ADQ_MONITOR AS (
Select A.*
	,RESULTADOFINAL= CASE WHEN B.CodAutorizacion IS NULL THEN 0 ELSE 1 END
	,B.ACF_SubtipoResultadoCasodeInvestigacion	
	,B.ACF_TextoSubTipodeResultado
	,B.FechaRecepcion
	,B.ACF_UsuarioInvestigador
	,B.ACF_TextoAccionTomada
--FROM TC40 A
FROM Deduplicado A

	LEFT join Fraude_Adquirente_filtrado B ON A.CodComercio=B.CodComercio
										and  A.bin=B.BIN
										AND 
										(
											(LEFT(A.Tarjeta_Encriptada,2) = '37' AND RIGHT(A.sufix,3) = RIGHT(B.Tarjetaregistro750_ACF,3))
											OR
											(LEFT(A.Tarjeta_Encriptada,2) = '36' AND RIGHT(A.sufix,2) = RIGHT(B.Tarjetaregistro750_ACF,2))
											OR
											(LEFT(A.Tarjeta_Encriptada,2) NOT IN ('37') AND LEFT(A.Tarjeta_Encriptada,2) <> '36' AND RIGHT(A.sufix,4) = RIGHT(B.Tarjetaregistro750_ACF,4))
										)
										AND  A.Autorizacion=B.CodAutorizacion
										--AND CAST(A.Fecha as date)=B.FechaTrx

							WHERE A.rn = 1 
							--and A.Fecha between'2025-08-01' and '2026-02-05'
)
------------------------------------------------------------------
--------------------INVESTIGADORES--------------------------------
------------------------------------------------------------------

,TABLA_MADRE_INVESTIGADORES AS ( 
     
SELECT C.Grupo
	,C.INVESTIGADOR
	,B.ACF_UsuarioInvestigador
FROM (
		SELECT A.ACF_UsuarioInvestigador 
		FROM (  
				SELECT ACF_UsuarioInvestigador
				FROM DBO.PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_ADQ with(nolock)
				GROUP BY ACF_UsuarioInvestigador
		
				UNION ALL
		
				SELECT ACF_UsuarioInvestigador
				FROM DBO.PFYCC_GI_CARGA_CIERRE_ALERTAS_ROL_EMISOR with(nolock)
				GROUP BY ACF_UsuarioInvestigador
			  ) A				
		GROUP BY ACF_UsuarioInvestigador
	  ) B
	LEFT JOIN [dbo].[PFYCC_GI_CARGA_MONITOR_DIM_INVESTIGADOR] C with(nolock) on B.ACF_UsuarioInvestigador = C.ACF_UsuarioInvestigador

)

------------------------------------------------------------------
------COMPLETANDO CAMPOS DEL MCESTAB Y REDUCIENDO DATOS-----------
------------------------------------------------------------------

,FINAL as ( 

SELECT A.Tarjeta_Encriptada
	,A.Fecha 
	,A.CodComercio
	,A.Merchant_Name
	,A.Autorizacion
	,A.Accion_Tomada
	,A.Tipo_Fraude_Marcado
	,MONTO_FRAUDE_SOLES= CONVERT(decimal(18,2),A.Importe_Fraude_Soles)
	,A.Fecha_Carga
	,A.RESULTADOFINAL
	--Detalle TC40
	,A.ACF_SubtipoResultadoCasodeInvestigacion	 
	,A.ACF_TextoSubTipodeResultado
	,FechaRecepcion=CAST(A.FechaRecepcion as date)
	,A.ACF_TextoAccionTomada
	,A.ACF_UsuarioInvestigador
	,B.INVESTIGADOR
	,B.Grupo
	,EXCLUSIONES= CASE WHEN (Merchant_Name<>'CORNERSHOP' AND (Merchant_Name NOT LIKE '%LIMA EXPRESA%') AND (Autorizacion NOT IN ('000000','0'))) THEN 'CASOS CON AUTORIZACION' ELSE 'CASOS SIN AUTORIZACION' END
	,C.SEGMENTO
	,flag_carga = case WHEN a.Fecha_Carga >= '2022-05-25' and c.segmento in ('Empresa','Negocio') then 1
					   WHEN a.Fecha_Carga >= '2022-05-25' and c.segmento not in ('Empresa','Negocio') and CONVERT(decimal(18,2),A.Importe_Fraude_Soles)>=150 then 1
					   WHEN a.Fecha_Carga < '2022-05-25' then 1
					   ELSE 0 end
FROM TC40VSFRAUDE_ADQ_MONITOR A
	LEFT JOIN TABLA_MADRE_INVESTIGADORES B ON A.ACF_UsuarioInvestigador=B.ACF_UsuarioInvestigador
	LEFT JOIN DBO.PFYCC_GI_TRANS_MCESTAB c with(nolock) ON A.CODCOMERCIO=c.codigo
WHERE a.RESULTADOFINAL=0
	AND Autorizacion<>'000000'
	AND Merchant_Name not like '%iata%' 
	AND Merchant_Name not like '%tc33%'

)

------------------------------------------------------------------
----------------RETIRANDO DUPLICADOS------------------------------
------------------------------------------------------------------

,RETIRANDO_DUPLICADOS as (

select distinct Tarjeta_Encriptada
	,Fecha
	,CodComercio
	,Merchant_Name
	,Autorizacion
	,Accion_Tomada
	,Tipo_Fraude_Marcado
	,MONTO_FRAUDE_SOLES
	,Fecha_Carga
	,RESULTADOFINAL
	,ACF_SubtipoResultadoCasodeInvestigacion
	,ACF_TextoSubTipodeResultado
	,FechaRecepcion
	,ACF_TextoAccionTomada
	,ACF_UsuarioInvestigador
	--,INVESTIGADOR
	,Grupo
	,EXCLUSIONES
	,SEGMENTO
	,flag_carga
FROM FINAL

)

------------------------------------------------------------------
------------------TABLA TRANSACCIONAL-----------------------------
------------------------------------------------------------------

,TRANSACCIONAL AS (
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2026_02
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2026_01
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_12
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_11
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_10
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000'  
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_09
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
)

------------------------------------------------------------------
--------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX--------------------------
-----------------------------------------------------------------

INSERT INTO DBO.prueba_safe_tc40_plusti_prueba -- MODIFICAR

SELECT C87872=1,
	C87873=cast(concat(CONVERT(varchar,getdate(),12),
	REPLICATE('0', (4 - LEN(ROW_NUMBER() OVER (PARTITION BY getdate() ORDER BY b.FechaTRX_ACF desc,b.HoraTRX_ACF ASC)))),
	ROW_NUMBER() OVER (PARTITION BY getdate() ORDER BY b.FechaTRX_ACF desc,b.HoraTRX_ACF ASC)) as bigint),
	C87874='IZIPAY',
	C87875='PERU',
	C87876=a.fecha_carga,
	C87877='00:00:01',
	--C87878=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' else  '3' end,
	C87878=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' when a.accion_tomada='F:Asbanc' then '3' else  '4' end,
	C87879='000',
	--C87880=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' else  '3' end,
	C87880=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' when a.accion_tomada='F:Asbanc' then '3' else  '4' end,
	C87881='REP',
	C87882='8751',
	C87883=b.IDCliente_ACF,
	C87884=b.Tarjeta_SHA256_ACF,
	C87885=replace(CONVERT(varchar,b.FechaTRX_ACF,112),'-',''),--CONVERT(varchar,b.FechaTRX_ACF,112),
	C87886=replace(b.HoraTRX_ACF,':',''),
	C87887=convert(numeric(14,2),b.MontoLocalsoles_ACF),
	C87888=b.Autorizacion_ACF,
	C87889=b.CodRpta_ACF,
	C87890=1,
	C87531=b.CodigoCIO_ACF,
	C87545=b.Tarjetaregistro750_ACF,
	C87418=b.NombreCIO_ACF,
	C87510=b.MCC_ACF,
	C87536=b.Bin_ACF,
	C87511=b.EntryMode_ACF,
	C87599=b.UCAF_ACF,
	C87532=b.Canal_ACF,
	C87530=b.IDComercio_ACF,
	C90066='000',--null,
	C90067='000',--null,
	C90068='000',--null,
	C90069='000',--null,
	C90070='000',--null,
	C90071='000',--null,
	--C87891=case when a.accion_tomada='F:TC40' then '210' when a.accion_tomada='F:Safe' then '211' else  '212' end,
	C87891=case when a.accion_tomada='F:TC40' then '210' when a.accion_tomada='F:Safe' then '211' when a.accion_tomada='F:Asbanc' then '212' else  '213' end,
	C87892=a.Tipo_Fraude_Marcado,
	C87893='000',
	C87894='001',
	C87895=cast(GETDATE() as date),
	C87896=cast(GETDATE() as time),
	C87897=0
								 --AND RIGHT(b.Tarjetaregistro750_ACF,4)=right(a.tarjeta_encriptada,4)
FROM RETIRANDO_DUPLICADOS as a
LEFT JOIN TRANSACCIONAL b 
    ON a.fecha = b.fechatrx_ACF
   AND a.codcomercio = RIGHT(b.CodigoCIO_ACF,7) 
   AND a.autorizacion = b.Autorizacion_ACF
   AND b.Bin_ACF = LEFT(a.tarjeta_encriptada,6) 
   	AND 
	(
	(LEFT(A.Tarjeta_Encriptada,2) = '37' AND RIGHT(b.Tarjetaregistro750_ACF,3) = RIGHT(a.tarjeta_encriptada,3))
	OR
	(LEFT(A.Tarjeta_Encriptada,2) = '36' AND RIGHT(b.Tarjetaregistro750_ACF,2) = RIGHT(a.tarjeta_encriptada,2))
	OR
	(LEFT(A.Tarjeta_Encriptada,2) NOT IN ('37') AND LEFT(A.Tarjeta_Encriptada,2) <> '36' AND RIGHT(b.Tarjetaregistro750_ACF,4) = RIGHT(a.tarjeta_encriptada,4))
	)

WHERE b.FechaTRX_ACF IS NOT NULL;

-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------

--Paso 4
--update prueba_safe_tc40_plusti_prueba --where  C87880='3' order by 2
--set C87873 = C87873 + (select count(*) from prueba_safe_tc40_plusti_prueba  where C87880='3')-- 4278
--where C87880<>'3';

--Paso 5

delete DBO.prueba_safe_tc40_plusti_prueba
where len(c87873)<>10;

-- Paso 6 Eliminar Duplicados de tabla final
WITH CTE AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY C87885, C87888, C87531, C87545 ORDER BY (SELECT NULL)) AS rn
		   ----ROW_NUMBER() OVER (PARTITION BY C87885, C87888, C87531 ORDER BY (SELECT NULL)) AS rn
    FROM prueba_safe_tc40_plusti_prueba
)
DELETE FROM CTE WHERE rn > 1;
WITH Numerados AS (
    SELECT 
        C87873,
        ROW_NUMBER() OVER (ORDER BY C87873) - 1 AS rn
    FROM prueba_safe_tc40_plusti_prueba
)
UPDATE t
SET t.C87873 = CAST(CONVERT(CHAR(6), GETDATE(), 12) + '0001' AS BIGINT) + n.rn
FROM prueba_safe_tc40_plusti_prueba t
JOIN Numerados n ON t.C87873 = n.C87873;

------ insertar valores unicos
insert into dbo.PFYCC_CARGA_FRAUDES_EXTERNOS
select *
from DBO.prueba_safe_tc40_plusti_prueba

--TRUNCATE TABLE PFYCC_GI_CARGA_TC40_TANSFORMADA_DIARIO;

--TRUNCATE TABLE DBO.PFYCC_GI_CARGA_ASBANC_TANSFORMADA_2_DIARIO;


--exec [dbo].[SP_PFYCC_GI_CARGA_FRAUDES_MONITOR]