USE [BDRIESGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PFYCC_GI_REPROCESO_FRAUDES_MONITOR]    Script Date: 25/02/2026 10:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[SP_PFYCC_GI_REPROCESO_FRAUDES_MONITOR]
AS

truncate table DBO.prueba_safe_tc40_plusti_prueba;
------------------------------------------------------------------
------------------TABLA TRANSACCIONAL-----------------------------
------------------------------------------------------------------

with TRANSACCIONAL AS (
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2026_02
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2026_01
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_12
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_11
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_10
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000'  
UNION ALL
SELECT Tarjeta_SHA256_ACF
	,FechaTRX_ACF
	,HoraTRX_ACF
	,MontoLocalsoles_ACF
	,Autorizacion_ACF
	,CodRpta_ACF  
	,CodigoCIO_ACF
	,Tarjetaregistro750_ACF
	,NombreCIO_ACF
	,MCC_ACF = left(MCC_ACF,4)
	,Bin_ACF
	,IDCliente_ACF  
	,EntryMode_ACF
	,UCAF_ACF
	,Canal_ACF
	,IDComercio_ACF  
FROM DBO.TRX_2025_09
where Reverso_ACF = 'N'
--AND Autorizacion_ACF = '' 
--	AND CodRpta_ACF <> '000' 

)
,Fraudes_segundo_reproceso as (
select * from [dbo].[RT_GD_STATUS_CONSOLIDADO_FRAUDES]
where Fecha_Envio=CONVERT(VARCHAR(10), GETDATE(), 120) 
and Estado = 'Filtro: Cruce Transaccional'  
and Entidad ='ADQ'
and Proceso = 'Carga Diaria'
and Autorizacion<>''
)
------------------------------------------------------------------
--------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX--------------------------
-----------------------------------------------------------------

INSERT INTO DBO.prueba_safe_tc40_plusti_prueba -- MODIFICAR

SELECT C87872=1,
	C87873=cast(concat(CONVERT(varchar,getdate(),12),
	REPLICATE('0', (4 - LEN(ROW_NUMBER() OVER (PARTITION BY getdate() ORDER BY b.FechaTRX_ACF desc,b.HoraTRX_ACF ASC)))),
	ROW_NUMBER() OVER (PARTITION BY getdate() ORDER BY b.FechaTRX_ACF desc,b.HoraTRX_ACF ASC)) as bigint),
	C87874='IZIPAY',
	C87875='PERU',
	C87876=a.fecha_carga,
	C87877='00:00:01',
	--C87878=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' else  '3' end,
	C87878=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' when a.accion_tomada='F:Asbanc' then '3' else  '4' end,
	C87879='000',
	--C87880=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' else  '3' end,
	C87880=case when a.accion_tomada='F:TC40' then '1' when a.accion_tomada='F:Safe' then '2' when a.accion_tomada='F:Asbanc' then '3' else  '4' end,
	C87881='REP',
	C87882='8751',
	C87883=b.IDCliente_ACF,
	C87884=b.Tarjeta_SHA256_ACF,
	C87885=replace(CONVERT(varchar,b.FechaTRX_ACF,112),'-',''),--CONVERT(varchar,b.FechaTRX_ACF,112),
	C87886=replace(b.HoraTRX_ACF,':',''),
	C87887=convert(numeric(14,2),b.MontoLocalsoles_ACF),
	C87888=b.Autorizacion_ACF,
	C87889=b.CodRpta_ACF,
	C87890=1,
	C87531=b.CodigoCIO_ACF,
	C87545=b.Tarjetaregistro750_ACF,
	C87418=b.NombreCIO_ACF,
	C87510=b.MCC_ACF,
	C87536=b.Bin_ACF,
	C87511=b.EntryMode_ACF,
	C87599=b.UCAF_ACF,
	C87532=b.Canal_ACF,
	C87530=b.IDComercio_ACF,
	C90066='000',--null,
	C90067='000',--null,
	C90068='000',--null,
	C90069='000',--null,
	C90070='000',--null,
	C90071='000',--null,
	--C87891=case when a.accion_tomada='F:TC40' then '210' when a.accion_tomada='F:Safe' then '211' else  '212' end,
	C87891=case when a.accion_tomada='F:TC40' then '210' when a.accion_tomada='F:Safe' then '211' when a.accion_tomada='F:Asbanc' then '212' else  '213' end,
	C87892=a.Tipo_Fraude_Marcado,
	C87893='000',
	C87894='001',
	C87895=cast(GETDATE() as date),
	C87896=cast(GETDATE() as time),
	C87897=0
								 --AND RIGHT(b.Tarjetaregistro750_ACF,4)=right(a.tarjeta_encriptada,4)
FROM Fraudes_segundo_reproceso as a
LEFT JOIN TRANSACCIONAL b 
    ON a.fecha = b.fechatrx_ACF
   AND a.codcomercio = RIGHT(b.CodigoCIO_ACF,7) 
   AND a.autorizacion = b.Autorizacion_ACF
   --AND b.Bin_ACF = LEFT(a.tarjeta_encriptada,6)
   --AND RIGHT(b.Tarjetaregistro750_ACF,4) = RIGHT(a.tarjeta_encriptada,4)
 WHERE b.FechaTRX_ACF IS NOT NULL;
----------------------------------------------------ELIMINAR DUPLICADOS--------------------------------------
WITH CTE AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY C87885, C87888,C87531 ORDER BY (SELECT NULL)) AS rn
    FROM prueba_safe_tc40_plusti_prueba
)
DELETE FROM CTE WHERE rn > 1;
WITH Numerados AS (
    SELECT 
        C87873,
        ROW_NUMBER() OVER (ORDER BY C87873) - 1 AS rn
    FROM prueba_safe_tc40_plusti_prueba
)
UPDATE t
SET t.C87873 = CAST(CONVERT(CHAR(6), GETDATE(), 12) + '0001' AS BIGINT) + n.rn
FROM prueba_safe_tc40_plusti_prueba t
JOIN Numerados n ON t.C87873 = n.C87873;

-------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
With no_enviados as (
SELECT DISTINCT
	A.[Fecha],
    A.Tarjeta_Encriptada,
	A.[CodComercio],
		A.[Autorizacion],
	A.[MONTO_FRAUDE_SOLES],
	[Merchant_Name]= A.Merchant_Name,
	A.[Accion_Tomada],
	A.[Tipo_Fraude_Marcado],
	A.[Fecha_Carga],
		Estado='Segundo_Reproceso_Filtro: Cruce Transaccional',
	Fecha_Envio =CONVERT(VARCHAR(10), GETDATE(), 120),
	Entidad = 'ADQ',
			Proceso = 	'Carga Diaria'
			--Proceso = 	'Segundo_Busqueda_Reproceso_ultimos_6meses'
FROM (
select * from [dbo].[RT_GD_STATUS_CONSOLIDADO_FRAUDES]
where Fecha_Envio=CONVERT(VARCHAR(10), GETDATE(), 120) and Estado = 'Filtro: Cruce Transaccional'  and Entidad ='ADQ'
and Proceso = 'Carga Diaria'
and Autorizacion<>''
) A

LEFT JOIN (
	SELECT distinct *
	FROM DBO.prueba_safe_tc40_plusti_prueba
	where C87882='8751'
) B
	--ON    b.C87536 = LEFT(a.tarjeta_encriptada,6)
 --  AND RIGHT(b.C87545,4) = RIGHT(a.tarjeta_encriptada,4)
	ON A.CodComercio = RIGHT(B.C87531,7)
	AND A.Autorizacion = B.C87888
	AND REPLACE(A.fecha, '-', '') = B.C87885
WHERE B.C87531 IS NULL
)
INSERT INTO RT_GD_STATUS_CONSOLIDADO_FRAUDES (Fecha,Tarjeta_Encriptada,	CodComercio,Autorizacion,MONTO_FRAUDE_SOLES,Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado, Fecha_Envio,Entidad,Proceso	)
Select Fecha,Tarjeta_Encriptada,	CodComercio, Autorizacion,[MONTO_FRAUDE_SOLES],	Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado,Fecha_Envio,Entidad,Proceso
from no_enviados;
with enviados as (
SELECT DISTINCT
	--Fecha=B.C87885,
	Fecha=CONVERT(date, STUFF(STUFF(B.C87885, 5, 0, '-'), 8, 0, '-')),
    Tarjeta_Encriptada=B.C87545,
	CodComercio = RIGHT(B.C87531,7),
	Autorizacion=B.C87888,
	[MONTO_FRAUDE_SOLES]=B.C87887,
	[Merchant_Name]=A.Merchant_Name,
	Accion_Tomada=case when B.C87891='210' then 'F:TC40' when B.C87891='211' then 'F:Safe' when B.C87891='212' then 'F:Asbanc' else  'F:Contracargos' end,
	Tipo_Fraude_Marcado=B.C87892,
	Fecha_Carga= B.C87876,
		Estado='Segundo_Reproceso_Enviado',
	Fecha_Envio =CONVERT(VARCHAR(10), GETDATE(), 120),
	Entidad = 'ADQ',
		Proceso = 	'Carga Diaria'
		--Proceso = 	'Segundo_Busqueda_Reproceso_ultimos_6meses'
FROM (
select * from [dbo].[RT_GD_STATUS_CONSOLIDADO_FRAUDES]
where Fecha_Envio=CONVERT(VARCHAR(10), GETDATE(), 120) and Estado = 'Filtro: Cruce Transaccional'  and Entidad ='ADQ' and Proceso = 'Carga Diaria'
and Autorizacion<>''
) A
INNER JOIN (
--LEFT JOIN (
	SELECT distinct *
	FROM DBO.prueba_safe_tc40_plusti_prueba
	where C87882='8751'
) B
	--ON    b.C87536 = LEFT(a.tarjeta_encriptada,6)
 --  AND RIGHT(b.C87545,4) = RIGHT(a.tarjeta_encriptada,4)
	ON A.CodComercio = RIGHT(B.C87531,7)
	AND A.Autorizacion = B.C87888
	AND REPLACE(A.fecha, '-', '') = B.C87885

)
INSERT INTO RT_GD_STATUS_CONSOLIDADO_FRAUDES (Fecha,Tarjeta_Encriptada,	CodComercio,Autorizacion,MONTO_FRAUDE_SOLES,Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado, Fecha_Envio,Entidad	,Proceso)
Select Fecha,Tarjeta_Encriptada,	CodComercio, Autorizacion,[MONTO_FRAUDE_SOLES],	Merchant_Name,	Accion_Tomada,	Tipo_Fraude_Marcado,	Fecha_Carga,Estado,Fecha_Envio,Entidad,Proceso
from enviados;
-----------------------Añadir a la lista defraudes final-----------------------
DECLARE @max_corr INT;

SELECT @max_corr = CONVERT(INT, RIGHT(MAX(C87873), 4))
FROM PFYCC_CARGA_FRAUDES_EXTERNOS
where C87882='8751';
--select @max_corr;
insert into dbo.PFYCC_CARGA_FRAUDES_EXTERNOS([C87872],[C87873],[C87874],[C87875],[C87876],[C87877],[C87878],[C87879],[C87880],[C87881],[C87882],[C87883],[C87884],[C87885],[C87886],[C87887],[C87888],[C87889],[C87890],[C87531],[C87545],[C87418],[C87510],[C87536],[C87511],[C87599],[C87532],[C87530],[C90066],[C90067],[C90068],[C90069],[C90070],[C90071],[C87891],[C87892],[C87893],[C87894],[C87895],[C87896],[C87897])
SELECT [C87872],
      C87873=LEFT([C87873], 6) 
    + RIGHT('0000' + CAST(CONVERT(INT, RIGHT(C87873, 4)) + @max_corr AS VARCHAR(4)), 4)
      ,[C87874]
      ,[C87875]
      ,[C87876]
      ,[C87877]
      ,[C87878]
      ,[C87879]
      ,[C87880]
      ,[C87881]
      ,[C87882]
      ,[C87883]
      ,[C87884]
      ,[C87885]
      ,[C87886]
      ,[C87887]
      ,[C87888]
      ,[C87889]
      ,[C87890]
      ,[C87531]
      ,[C87545]
      ,[C87418]
      ,[C87510]
      ,[C87536]
      ,[C87511]
      ,[C87599]
      ,[C87532]
      ,[C87530]
      ,[C90066]
      ,[C90067]
      ,[C90068]
      ,[C90069]
      ,[C90070]
      ,[C90071]
      ,[C87891]
      ,[C87892]
      ,[C87893]
      ,[C87894]
      ,[C87895]
      ,[C87896]
      ,[C87897]
  FROM [BDRIESGO].[dbo].[prueba_safe_tc40_plusti_prueba]

